
<% if bourreaux && bourreaux.size > 0 %>
  <%=
      options = options_for_select(bourreaux.sort_by(&:name).map {|b| [b.name, b.id.to_s]}, 
                        selected)
      blank_label = select_tag_options.delete(:include_blank)
      if blank_label
        blank_label = "" if blank_label == true
        options = "<option value=\"\">#{blank_label}</option>" + options
      end
      select_tag parameter_name, options, select_tag_options
   %>
<% else %>
  <strong style="color:red">No Execution Servers Available</strong>
<% end %>

