
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="modal fade" tabindex="-1" role="dialog" id="cbrain-dialog-confirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <p id="confirm-message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary modal-confirm" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="help-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Help</h4>
      </div>
      <div class="modal-body" id="help-content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal-confirm" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="dynamic-help-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Help</h4>
      </div>

      <div class="modal-body" id="dynamic-help-content">

        <% if current_user && HelpDocument.can_edit?(current_user) %>
          <script type="text/x-markdown" class="raw"></script>
        <% end %>

        <div class="row">
          <div class="col-xs-12">
            <div class="editor"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="contents"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="empty">This help topic is currently empty.</div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button id="show"   class="btn btn-primary"><span class="glyphicon glyphicon-eye"></span> Show</button>
        <button id="edit"   class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
        <button id="save"   class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
        <button id="remove" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <button class="btn btn-primary modal-confirm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
