<%= 
    grouped_dps     = data_providers.group_by{ |dp| dp.is_browsable? ? "User Storage" : "CBRAIN Official Storage" }
    grouped_options = grouped_options_for_select(grouped_dps.collect {|pair| [pair.first, pair.last.sort_by(&:name).map{|dp| [dp.name, dp.id.to_s]}] }, 
                      selected || current_user.user_preference.data_provider_id.to_s)
    blank_label = select_tag_options.delete(:include_blank)
    if blank_label
      blank_label = "" if blank_label == true
      grouped_options = "<option value=\"\">#{blank_label}</option>" + grouped_options
    end
    select_tag parameter_name, grouped_options, select_tag_options
 %>
