
<%
  # This partial displays an object's log
  # It requires two args, the 'log' and a 'title'
%>

<% unless log.blank? %>
  <table id="log_table" style="clear:both;">
  <tr class="list-odd">
    <th><%= title.blank? ? "Processing Log" : h(title) %></th>
  </tr>
  <tr class="list-even">
    <td><pre><%= parse_message(h(log)) %></pre></td>
  </tr>
  </table>
<% end %>
