<% unless mess.description.blank? %>
  <p class="<%= mess.message_type.to_s %>">
    <%= parse_message( h(mess.description) )%>
  </p>
<% end %>

<% unless mess.variable_text.blank? %>
    <p class="<%= mess.message_type.to_s %>">
      <%= parse_message( h(mess.variable_text) ).gsub(/\n/,"<BR>") -%>
    </p>
<% end %>

<% if mess.description.blank? && mess.variable_text.blank? %>
  <p>
    (No Details)
  </p>
<% end %>
