
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<!-- ************************ -->
<!-- PARTIAL: TOOLBAR SECTION -->
<!-- ************************ -->

<% if current_user %>
    <div id="nh_toolbar">
        <a href="/nh_session">
            <div class="nh_toolbar_logo"></div>
        </a>
        <div class="nh_toolbar_buttons">
            <%= link_to 'Dashboard', neurohub_path, { :class => "btn-nav-primary", "data-active"=> request.path_info.include?('welcome') || action_name==="welcome"}  %>
            <%= link_to 'Projects', nh_projects_path, { :class => "btn-nav-primary", "data-active"=> request.path_info.include?('nh_projects') && action_name==="index"  }%>
            <%= link_to 'My Account', myaccount_path, { :class => "btn-nav-primary", "data-active"=> request.path_info.include?('myaccount')} %>
            <a class="btn-nav-primary" href="/signout">Logout</a>
        </div>
    </div>
    
<% end -%>

  


