
<!-- *********************** -->
<!-- PARTIAL: FOOTER SECTION -->
<!-- *********************** -->

<div id="footer">
  <a href="http://www.canarie.ca/"><img id="canarie_logo" src="/images/CANARIE_h.jpg" /></a>
  <img id="site_logos" src="/images/site_logos.png" usemap="#logomap"/>     
  <map id="logomap" name="logomap">
    <area shape="rect" 
    coords="0,0,75,100" 
    alt="McGill"
    href="http://www2.bic.mni.mcgill.ca/">
    <area shape="rect" 
    coords="75,0,150,100" 
    alt="Rotman"
    href="http://www.rotman-baycrest.on.ca/">
    <area shape="rect" 
    coords="150,0,225,100" 
    alt="UdeM"
    href="http://www.unf-montreal.ca/">
    <area shape="rect" 
    coords="225,0,300,100" 
    alt="UBC"
    href="http://www.neuroscience.ubc.ca/">
    <area shape="rect" 
    coords="300,0,375,100" 
    alt="Robarts"
    href="http://www.imaging.robarts.ca/"> 
  </map>           
</div> <!-- End id="footer" -->

