<% if current_user.site %>
    <div id = "site_div">
        <h1>Site: <%= "#{current_user.site.name}" %></h1>
    </div>
<% end %>

<div id="active_project_div">
  <h1>Active Project:</h1> 
    <%= 
        overlay_ajax_link (current_project ? current_project.name : "None"), 
                          switch_panel_groups_path(:redirect_controller => params[:controller],
                                                   :redirect_action     => params[:action],
                                                   :redirect_id         => params[:id]
                                                  ),
                          :id => "header_project_menu", :class => "button"                           
    %>
</div>



