
<!-- ********************* -->
<!-- PARTIAL: MAIN SECTION -->
<!-- ********************* -->

<div id="main" class="main-content">
  <div id="message_display">
    <%= render :partial => 'layouts/message_display' %>
  </div>
  <%= yield :layout %>
</div>  <!-- End id="main" -->

