
<!-- ********************* -->
<!-- PARTIAL: MAIN SECTION -->
<!-- ********************* -->

<div id="main" class="main-content">
  <% unless params[:action] == "index" && params[:controller] == "messages" %>
    <div id="message_display">
      <%= render :partial => 'messages/message_display' %>
    </div>
  <% end %>
  <%= yield :layout %>
</div>  <!-- End id="main" -->

