<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "">
<html>

<head>
    <title>CBRAIN Project</title>
    <%= stylesheet_link_tag "manager", :media => "all" %>
</head>

<body id="cbrain">

    <div id="banner">
        <div id='top_language'>
            <div id='top_language_inside'>
            <!-- <a href="fr">Fran&ccedil;ais</a> -->
            <br/>

            <a id='top_language_mcgill' href="http://www.mcgill.ca">&nbsp;</a>
            </div>
        </div>
                
        <div id="top_container">
            <div id="top_all">
                <div id="top_01"></div>
                <div id="top_02"></div>
                <div id="top_03"><h1>CBRAIN</H1></div>
                <div id="top_04"><h2>BIC - McConnell Brain Imaging Center</h2></div>
                <div id="top_05"></div>
            </div><!--top_all-->
        </div><!--top_container-->
    </div>


    <!-- menu + main -->
    <div id="columns">

        <!-- menu on the side -->
        <div id="side">
            <h3>Menu</h3><BR><BR>
            <% if session[:user_id] %>
                <a href="/login/welcome">Home</a><br/>
                <a href="/login/logout">Logout</a><br/>
            <% else %>
                <a href="/login">Login</a><br/>
            <% end %>
            <a href="todo">Help</a><br/>
            <a href="todo">Account</a><br/>
            <a href="todo">Contact</a><br/>
        </div>

        <!-- main rendering area -->
        <div id="main">
            <p class="error"><%= flash[:notice] -%></p>
            <%= yield :layout %>
        </div>

    </div>

</body>
</html>
    
