<% if @_license_text.present? -%>

<%%-
<%= @_license_text -%>
-%>
<% end -%>

<%%
# Use this template to create the content of the tab
# that shows the parameters for your task.
# This partial has access to the following variables:
#
#    task  -  Your current task object
#
#    params -  A shortened to task.params
#
# The default template belows shows links to
# the userfiles IDs listed in :interface_userfile_ids,
# which is the default place where the framework
# stores the IDs selected in the userfile index page.
# If your task actually stores IDs in other
# keys, adjust accordingly.
#
# Note that this is NOT a form, it should simply provide
# a nice friendly summary of the active parameters
# for this task.
-%>

<STRONG>Input:</STRONG>
<P>
<UL>
<%% (params[:interface_userfile_ids].presence || []).each do |id| %>
  <LI>Userfile: <%%= link_to_userfile_if_accessible id %></LI>
<%% end %>
</UL>

<P>
Some Other option? <%%= params[:something].blank? ? "No" : "Yes" %>

<%%
# The code below assumes :outfile_id is created by the post
# processing step of the task, storing the ID of the file containing
# the results; make sure then that :outfile_id is also returned by
# the untouchable_params_attributes() method on the portal side,
# otherwise it is going to be lost if the user edits the task.
-%>

<BR>
<STRONG>Output:</STRONG>
<P>
Final file: <%%= link_to_userfile_if_accessible params[:outfile_id] %>

