<tr class= "subtitle_bordered">
    <th>Message</th>
    <th>Last Updated</th>
    <th></th>
</tr>

<% max_show = @max_show.blank? ? 50 : @max_show.to_i %>
<% @messages.each_with_index do |mess,i| %>
  <% if i >= max_show %>
    <tr><td colspan="3">(<%= @messages.size + 1 - i %> more messages not shown...)</td></tr>
    <% break %>
  <% else %>
    <%= render :partial => 'message_table_row', :locals  => { :mess  => mess, :render_for => :index } %>
  <% end %>
<% end %>

<% if @messages.nil? || @messages.empty? %>
  <tr class="list-odd"><td colspan="3">There are no Messages in this list.</td></tr>
<% end %>

