
<%- flash.each do |name, msg| -%>
  <% next if msg.blank? %>
  <%= render :partial => 'messages/flash_display', :locals => { :msg => msg, :type => name } %>
<%- end -%>

<% unless @display_messages.blank? %>
  <table class="message_display_table">
    <tr><th colspan="3">New or important messages</th></tr>
    <% for mess in @display_messages %>
      <%= render :partial  => "messages/message_table_row", :locals  => {:mess  => mess, :render_for => :top } %>
    <% end %>
  </table>
  <P>
<% end %>

