
<% title 'Messaging Center' %>

<div class="menu_bar menu_bar_left">
  <% if current_user.has_role?(:admin) || current_user.has_role?(:site_manager) %>
    <% button_with_dropdown_menu('Leave Message', :partial => 'new', :content_id => 'new_message', :button_id => "new_message_button") %>
  <% end %>

  <%= overlay_ajax_link "Help", "/doc/messages/message_info.html", :class  => "button" %>

  <%= external_submit_button "Delete Checked Messages", "message_form", :class  => "button", :confirm  => "Are you sure you want to delete the selected messages?"  %>
</div>

<P>

<% form_tag({:controller => :messages, :action => :delete_messages}, :method => :delete, :id => "message_form" ) do %>

  <table class="resource_list" id="message_table">
     <%= render :partial => 'message_table' %>
  </table>

<% end %>
