
<% title 'CBRAIN Messaging Center' %>

<div class="menu_bar menu_bar_left">
  <% if current_user.has_role?(:admin) || current_user.has_role?(:site_manager) %>
    <% button_with_dropdown_menu({:title => 'Leave Message', :partial => 'new', :content_id => 'new_message' }, {:id => "new_message_button"}) %>
  <% end %>

  <% button_with_dropdown_menu(:title => "Help") do %>
    <a class="overlay_link" data-url = "/doc/messages/message_info.html">Messages</a>
  <% end %> 

  <%= submit_button("Delete Checked Messages", {:class => "external_submit_button", "data-associated-form" => "message_form", :name => "commit", "data-confirm" => "Are you sure you want to delete the selected messages?" }) %>
</div>

<P>

<% form_tag({:controller => :messages, :action => :delete_messages}, :method => :delete, :id => "message_form" ) do %>

  <table class="resource_list" id="message_table">
     <%= render :partial => 'message_table' %>
  </table>

<% end %>
