
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<div class = "generalcontent">

  <% title 'CBRAIN Messaging Center' %>

  
      <% if current_user.has_role?(:admin) || current_user.has_role?(:site_manager) %>
            <div class="menu_bar">
                 <% button_with_dropdown_menu({:title => 'Leave Message', :partial => 'new'}, {:id => "new_message_button"}) %>
            </div>
      <% end %>
   <br>

<!--   <H2>Message Center Note: this page is just a draft, work is in progress!</H2>
  <p>
  Future updates will include:<br>
  <ul>
  <li>1-click expand from summary to full message (right now you always see the full thing)
  <li>1-click delete of messages
  <li>creation of new messages for other users/groups
  <li>forwarding of messages to anyone (good for bug reports!)
  <li>sorting message list (by type, header, etc)
  <li>expiration dates (for broadcast messages etc)
  <li>pretty formatting of variable_text section (highlight timestamps, etc)
  </ul>
  <p> -->

  <table class="resource_list" id="message_table">
     <%= render :partial => 'message_table' %>
  </table>
</div>  <!-- End class="generalcontent" -->
