<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title "Edit user storage #{@nh_dp.name}", "" %>

<div id="nh_storages_edit" class="nh_content">
  <div class="nh_form">
    <p class="nh_form_title">Modify configuration for user storage <%= @nh_dp.name %></p>
    <%= render :partial => 'nh_storages/form' %>
    <%= render :partial => 'nh_storages/show_key' %>
  </div>
</div>
