
<h1>Confirmed!</h1>

Thank you. You've confirmed your email address with <%= the_organization %>.
<p>
Now it's up to the administrators to review your request
and you'll be notified if and when they approve it.
<p>

(There is nothing else to do here, you might as well have a coffee and read the news)

