
<h1>Batch action summary results</h1>

<%
   @results.compact!
   @results.each do |tuple|
     demand    = tuple[0]
     sym_res   = tuple[1]
     info      = tuple[2]
     backtrace = tuple[3]
%>
   <%= render :partial => 'result_action_one', :locals =>
       { :demand => demand, :sym_res => sym_res, :info => info, :exception_trace => backtrace }
   %>
<% end %>

<p>

You can go <%= link_to "back to the index", :action => :index %> too.

