
<p>Note: for the moment, this viewer code only works reliably in Google Chrome.</p>

<video controls="controls" preload="none">
  <source src="<%= content_userfile_path(@userfile) %>" type="video/mp4" />
  MP4 video not supported in this browser.
</video>

