
/*
  Network Operation Center
  This file contains stylesheet info for the NOC summary pages.
*/

/*
#################################################
# Common to all NOC displays
#################################################
*/

/* Overrides cbrain.css */
body {
  min-width: 5em;
}

.ip_address {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #ccc;
}

/*
#################################################
# NOC main display:
#
# /noc/daily
# /noc/weekly
# /noc/monthly
# /noc/yearly
#################################################
*/

.daily {
  font-size: 24px;
  color: black;
}

.daily h1 {
  text-align: left;
  color: white;
  border: 4px solid black;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.5em;
  background: #05a3d6;
}

.noc_main {
  display: table;
  margin: auto;
}

.noc_panel {
  display: inline-block;
  border: 4px solid black;
  border-radius: 1em;
  text-align: center;
  margin: 0.5em;
}

.noc_header {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
}

.noc_count {
  display: inline-block;
  font-size: 96px;
  margin: 0.2em 0.2em 0.6em 0.2em;
  text-shadow: -1px -1px 2px black,
               -1px  1px 2px black,
                1px -1px 2px black,
                1px  1px 2px black;
  white-space: nowrap;
}

fieldset {
  border: 4px solid #00dd00;
  margin: 0.5em;
}

fieldset.offline {
  border: 4px solid #dd0000;
}

fieldset span {
  vertical-align: middle;
}

.daily_task_status_table {
  margin: 0 0 0 0.5em;
  border: none;
}

.daily_task_status_table td {
  border: none;
  text-align: left;
  white-space: nowrap;
}

.daily_task_status_table td span {
  vertical-align: top;
  white-space: nowrap;
}

.daily_bourreau {
  display: inline-block;
}

.daily_dp {
  display: inline-block;
}

/*
#################################################
# NOC alternate displays:
#
# /noc/users/{year|month}
# /noc/cpu/{year|month}
# /noc/tools/{count|cpu}
#################################################
*/

.noc_users_table {
  font-size: 30px;
  display: table;
  margin: auto;
  padding-top: 1em;
}

.noc_users_row {
  display: table-row;
  text-align: center;
}

.noc_users_cell {
  display: table-cell;
  padding: 0.5em 0 1em 0;
/* border: 1px solid red; */
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.noc_users_graph {
  display: inline-block;
  margin: auto;
/* border: 1px solid blue; */
}

.noc_users_bar {
  width: 1.5em;
  margin: 0.5em 0 0.5em 0;
  display: inline-block;
}

.noc_users_count {
  display: inline;
}

.noc_users_header {
  text-align: center;
  padding: 0.5em;
  display: table-cell;
}

.noc_users_header_key {
  /* font-size: 24px; */
  border: 4px solid black;
  border-radius: 0.5em;
  border-spacing: 0.5em;
  padding: 0.2em 1em;
}

.noc_users_legend {
  text-align: center;
  padding: 0.5em;
/* border: 1px solid green; */
}

.noc_users_legend span {
}

.noc_tools_table {
  display: table;
  margin: auto;
  font-size: 30px;
}

.noc_tools_row {
  display: table-row;
}

.noc_tools_name {
  display: table-cell;
  padding: 0.2em;
}

.noc_tools_value {
  display: table-cell;
  padding: 0.2em;
  text-align: right;
}

.noc_tools_graph {
  display: table-cell;
  padding: 0.2em;
}

.noc_tools_bar {
  display: inline-block;
  height: 1em;
}
