
/*
  This file contains stylesheet info for the daily summary page.
*/

.daily {
  font-size: 24px;
}

.daily h1 {
  text-align: left;
  color: white;
  border: 4px solid black;
  border-radius: 1em;
  padding: 0.5em;
  background: #05a3d6;
}

fieldset {
  border: 4px solid #00dd00;
  margin: 0.5em;
}

fieldset.offline {
  border: 4px solid #dd0000;
}

fieldset span {
  vertical-align: middle;
}

.daily_bourreau {
  display: inline-block;
}

.daily_dp {
  display: inline-block;
}

