
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="credits_footer centered">

  <a href="http://www.canarie.ca/" target="_blank"><img id="canarie_logo" src="/images/credits/CANARIE_h.jpg"></a>

  <a href="https://www.mcgill.ca/neuro/" target="_blank"><img id="neuro_logo" src="/images/credits/neuro.png"></a>

  <img id="site_logos" src="/images/credits/site_logos.png" usemap="#logomap">

  <map id="logomap" name="logomap">
    <area shape="rect"
          coords="0,0,75,100"
          alt="McGill"
          target="_blank"
          href="https://www.mcgill.ca/bic/home/"
    >
    <area shape="rect"
          coords="75,0,150,100"
          alt="Rotman"
          target="_blank"
          href="http://www.rotman-baycrest.on.ca/"
    >
    <area shape="rect"
          coords="150,0,225,100"
          alt="UdeM"
          target="_blank"
          href="http://www.unf-montreal.ca/"
    >
    <area shape="rect"
          coords="225,0,300,100"
          alt="UBC"
          target="_blank"
          href="http://www.neuroscience.ubc.ca/"
    >
    <area shape="rect"
          coords="300,0,375,100"
          alt="Robarts"
          target="_blank"
          href="http://www.imaging.robarts.ca/"
    >
  </map>

</div>

