
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<h2>Supported By The Following Organizations</h2>

<div class="credits_footer">

  <a href="http://mcgill.ca/"             target="_blank"><img class="logobar" id="mcgill_logo"  src="/images/credits/mcgill_wordmark.png"></a>

  <a href="http://mcin-cnim.ca/"          target="_blank"><img class="logobar" id="mcin_logo"    src="/images/credits/mcin_logo.png"></a>

  <a href="https://www.mcgill.ca/neuro/"  target="_blank"><img class="logobar" id="neuro_logo"   src="/images/credits/neuro.png"></a>

  <a href="http://ludmercentre.ca/"       target="_blank"><img class="logobar" id="ludmer_logo"  src="/images/credits/ludmer_logo.png"></a>

</div>

<div class="credits_footer">

  <a href="http://www.canarie.ca/"        target="_blank"><img class="logobar" id="canarie_logo" src="/images/credits/CANARIE_h.jpg"></a>

  <a href="https://www.computecanada.ca/" target="_blank"><img class="logobar" id="cc_logo"      src="/images/credits/compute_canada.png"></a>

  <a href="http://www.braincanada.ca/"    target="_blank"><img class="logobar" id="bc_logo"      src="/images/credits/brain_canada_logo.png"></a>

  <a href="https://www.innovation.ca/"    target="_blank"><img class="logobar" id="cfi_logo"     src="/images/credits/cfi_logo.png"></a>

</div>

