<h1><center>CBRAIN Manual</center></h1>

<center><a class= "cbrain_manual" href='/doc/usermanual/cbrain_manual.pdf'>Download PDF Version</a></center>
<br>
<% build_accordion do |acc| %>

<% acc.section "How to View Files" do %>
The <b>Files</b> tab, called the file manager, is a link to an interface that displays a list of files, file details and a file management menu bar at the top of the page.  The file management menu bar consists of nine tabs.  More details can be displayed for each file by selecting the <b>Show Details</b> button. Jiv Files are shown as links under files as children resulting from a minc2jiv operation.  Additionally, files highlighted in pink are unavailable.  Each individual file has a details page that can be accessed by clicking on that particular file.
<br><br>
Each execution server has a cache or storage area set aside for files that have been transferred and executed on that execution server. Files are permanently stored on <b>Data Providers</b>.  The synchronization symbols, which list the status of a file, are displayed beside the file.  These symbols indicate where copies of the files are stored on available clusters.  This is useful, allowing a user to navigate to the <b>Data Providers</b> tab click on the <b>Click here to view disk usage statistics</b> link, select a cache and clean up the cache.  This action deletes any files being stored on the selected cache ensuring the privacy of the files.  Additionally, these symbols can be useful by indicating where files are already stored, allowing a user to execute other tasks on them using the same execution server.  This speeds up execution time and prevents copies of files from being transferred and stored on other execution servers needlessly.  Placing your mouse pointer over the symbol displays more information about the execution server and other file details.  A legend of the symbols are shown at the bottom of the files page and include:

<ul>
<li><b>ProvNewer</b>
    <ul>
        <li>Indicates that no known files on cache side or files on data provider side are known to be newer (default when there are no SyncStatus object at all).</li>
    </ul>

<li><b>CacheNewer</b>
    <ul>
	    <li>Indicates that the file on cache side is known to be newer than on data provider.</li>
	</ul>
</li>	
<li><b>InSync</b><br>
    <ul>
        <li>Indicates that the file contains a synched version of the data provider's content.</li>
    </ul>
</li>
<li>
    <b>ToCache</b><br>
    <ul>
	    <li>Indicates that the data provider's file is being copied to cache.</li>
	</ul>    
</li>
<li><b>ToProvider</b><br>
	<ul>
	    <li>Indicates that the cached file is being copied to data provider.</li>
	</ul>
</li>
<li><b>Corrupted</b><br>
    <ul>
	    <li>Indicates that a transfer to a provider was never completed.</li>
	</ul>
</li>
</ul>
<% end %>

<% acc.section "How to Filter Files" do %>
<p>The filter files drop down, located on the sidebar, allows a user to filter their files by filter or by tag (as shown below).  A tag can be created and used to "tag" a file.    
<br>
<br>
<img src="/doc/userfiles/filter_dropdown.png">
<p>A user can create a custom filter, as shown below.  This allows a user to filter by filename, creation date, size, owner, project, data provider and tags.</p>
<img src="/doc/userfiles/custom_filter.png">
<br>
<br>
<b>Active Filters</b> located on the sidebar lists filters currently applied to files, which can be removed by clicking on the 'x' beside the applied filter.
<br>
<% end %>

<% acc.section "How to Upload a File" do %>
The <b>Upload File</b> drop down on the sidebar allows a user to upload individual files and compressed files with sizes up to 250MB.  The interface is shown below and a user can browse for files on their local computer, assign tags to the uploaded file, projects and project permissions, archive options (for zip and tar files) and CBRAIN will store the file on the specified data provider.  Note that the compressed files cannot have folders within them.  Compressed files have the option to be saved as it is, extracted or a file collection may be generated.  The preferred method for uploading large files to CBRAIN is through the data providers tab using file registration.<br><br>
<img src="/doc/userfiles/upload_file_dropdown.png"><br><br>
<% end %>

<% acc.section "How to Download Files" do %>
To download files, a user can select the files and click <b>Download</b>.  If there is more than one file to be downloaded, then a tarball containing the files is created. A filename maybe specified.
<br>
<% end %>

<% acc.section "How to Organize Files" do %>
The tags feature, shown below under the <b>Update Attributes</b>, button provides the ability to organize files.  It allows a user to apply customized tags to files in order to organize them and make them easily searchable (see below).  Select the file, the tag and click on the button <b>Update Tags</b>.</p><br><br>
<img src="/doc/userfiles/update_attributes_dropdown.png"><br>
    
<p>The <b>Update Attributes</b> button also provides the ability to modify projects that a file belongs to.  Projects can be changed by selecting the file and clicking <b>Update Projects</b>.  Project permissions can also be updated by selecting the file along with selecting the desired project permission and clicking <b>Update Permissions</b>.</p>
<br>
<% end %>

<% acc.section "How to Uncompress/Compress Files" do %>
Select the files to be compressed and select the <b>(Un)Compress</b> button on the file menu.  Should it be necessary to uncompress a file, select the file then select the <b>(Un)Compress</b> button.
<br> 
<% end %>

<% acc.section "How to Share Files" do %>
Projects facilitate the sharing of files between users.  There are four types of projects: system projects, site projects, user projects and work projects.
<br>
<ul>
<li><b>System Projects</b></li>
    <ul>
        <li>Every user on CBRAIN is automatically a member of the system project everyone.</li>
    </ul>
<li><b>Site Project</b></li>
    <ul>
        <li>Each site has a site project automatically associated with it.</li>
    </ul>
<li><b>User Projects</b></li>    
    <ul>
        <li>Every user on CBRAIN is automatically assigned a project, that only they are a member of, specified by that user's username.</li>
    </ul>
<li><b>Work Projects</b></li>
    <ul>
        <li>A work project is a type of project that can be created by anyone.</li>
    </ul>
</ul>

    File permissions are managed through projects.  Project files are files that can be shared between members of a project.  Users can be members of any project that either the site manager or the CBRAIN administrator has assigned to them or that they created themselves. A file can only belong to one project but a user can belong to many projects.  Project permissions can be set by selecting the file, <b>Update Files Attributes</b>, the project and the permissions.
<br>
<% end %>

<% acc.section "How to Create a Collection" do %>
The <b>Create Collection</b> button on the files menu allows a user to select files and create a collection.  A collection is simply a group of files.
<br>
<% end %>

<% acc.section "How to Create a Study" do %>
When multiple Civet results are combined using the task <b>CivetCombiner</b> a <b>Study</b> is created.  Before launching a Civet task, if a user selects Combine Civet results into a Civet Study as part of the options and specifies a name, a 
<b>Study</b> will be created. The purpose of the <b>Study</b> is to be able to launch the <b>Civet QC</b> task on multiple Civet results.
<br>
<% end %>

<% acc.section "How to Move and Copy Files" do %>
Files can be selected and moved or copied from one data provider to another using the <b>Move/Copy Files</b> button on the files menu.<br>
<% end %>

<% acc.section "How to Use and Access Tools" do %>
    
    The <b>Conversion Tool</b> and <b>Scientific Tool</b> drop downs on the file management menu provide a drop down selection of conversion and scientific tools respectively that can be applied to files as tasks. When a tool is selected from the drop down menu, another select box appears to specify an execution server to complete the task.  Execution servers that have that particular tool available and that you have sufficient privileges to access, will be presented as possible selections along with an option to select a cluster to execute the task randomly.  For some tools, you must select files and the desired tool to be brought to an option selection page.  An example tool option selection page is shown below.
<br>
<br>
<img src="/doc/userfiles/civet_tool_options.png"><br>
    
<p>Once a task has completed, the resulting files are placed in the files list on the <b>Files</b> tab page.  For example, once a Civet task has been run using the <b>Civet Tool</b> a <b>Civet Collection</b> is returned.  Clicking on that particular resulting Civet Collection from a Civet task brings you to the file details page (see below).  Through this page you can see the details of the Civet Collection and there is a link to edit the file.  The <b>Contents</b> link displays the Civet output image files.  Also the link <b>Display full CIVET file list</b> displays all the files in the Civet Collection, which can be extracted individually.</p>

<img src="/doc/userfiles/civet_collection_details.png">
<br>
<% end %>

<% acc.section "How to Control Tasks" do %>

The <b>Tasks</b> tab allow a user to have a certain amount of control over the execution of tasks, which are listed below.  Tasks are assigned different stages as they proceed through processing.  Those stages include "Setup", "Queued", "Cluster", "Post Processing" and "Completed" stages.  The <b>Setup</b> stage sets up the files to be processed. When a task is <b>Queued</b> it is waiting to be processed.  The <b>Cluster</b> (also referred to as the running stage) stage is the scientific processing stage. The <b>Post Processing</b> stage saves the results back to the CBRAIN data provider.  The <b>Completed</b> stage indicates that the processing has been completed.  Should a task fail, failure recovery code can be triggered.

<ul>
<li><b>Operations for Queued Tasks</b>
    <ul>
        <li>Hold queued tasks</li>
        <li>Release held tasks</li>
    </ul>
<li><b>Operations for Running Tasks</b>
    <ul>
        <li>Suspend running task</li>
        <li>Resume suspended tasks</li>
    </ul>
</li>
<li><b>Operations for failed tasks</b>
    <ul>
        <li>Trigger failure recovery code</li>
    </ul>
</li>
<li><b>Operations for completed tasks</b>
    <ul>
        <li>Restart tasks at "Setup" stage</li>
        <li>Restart tasks at "Cluster" stage</li>
        <li>Restart tasks at "Post Processing" stage</li>
    </ul>
</li>

<li><b>Operations for All Tasks</b>
    <ul>
        <li>Duplicate selected tasks and start them anew</li>
        <li>Terminate selected tasks</li>
        <li>Remove selected tasks</li>
    </ul>
</li>
</ul>
<br>
Tasks can be filtered, custom filters can be created and applied filters are listed under <b>Active Filters</b> heading on the sidebar.
<% end %>

<% acc.section "How to Use Task Preset Management" do %>

Presets for tasks can be loaded, saved and controlled on each of the task option pages.  Presets are saved tasks settings.  Creating and saving task settings requires a user to select an existing preset or create a new name for a preset and run the task.  This saves the preset, which may be selected and loaded upon execution of the next task.  Task presets may also be deleted.

<% end %>

<% acc.section "How to Use JIV Viewer" do %>
<b>Graphical User Interface</b>
<br>
The main JIV window is composed of one or more 'panels' -- columns of interface elements separated by vertical lines.  JIV allows its main window to be resized at will.
<br>
<br>
<b>Common panel features</b>
<br>
Each panel is composed of four visible main elements, aligned in a vertical column; from top to bottom, they are:
<br>
<ol>
    <li><b>Transverse</b> 2D slice viewport (<b>Z = const</b>).</li>
    <li><b>Sagittal</b> 2D slice viewport (<b>X = const</b>).</li>
    <li><b>Coronal</b> 2D slice viewport (<b>Y = const</b>).</li>
    <li>Panel controls area.</li>
</ol>

The <b>x, y, z</b> axes and their positive direction are (respectively): left to right, posterior to anterior, and inferior to superior of the head. 
<br><br>

<b>Slice viewport</b>
<br>
Inside a 2D slice viewport, the following mouse actions are available:
<br>

<ul>
    <li><b>Clicking Left Mouse Button</b></li>
    <ul>
        <li>Moves the cursor to a new position in slice's plane. Can also drag the cursor around.</li>
    </ul>
    <li><b>Clicking Right Mouse Button</b>
    <ul>
        <li>Shows a menu allowing you to change color coding and type of coordinates.</li>
    </ul>
</ul>
<% end %>

<% acc.section "How to Register Files on CBRAIN" do %>
<p>A Data Provider is a data storage center that CBRAIN is aware of.  A user has access to MainStore and MindStore data providers as well as an "incoming data provider". The "incoming data provider" is a provider set up by the network administrator that could be under another name.  Please contact your network administrator for additional details.</p>
<p>    
Data files can be uploaded to CBRAIN using SFTP (Secure File Transfer Protocol). You may connect using any SFTP client for UNIX, Mac or Windows on host mindstorm.cbrain.mcgill.ca using the port number 7500.  Your username and password are those of the CBRAIN website.  
</p> 

<b>Recommended SFTP Clients:</b>
<br>
<ul>
    <li><b>Command Line SFTP on Unix:</b></li>    
        <ul>
            <li>sftp -o port=7500 username@mindstorm.cbrain.mcgill.ca</li>
            <li>Options can be displayed by entering help into the command line</li>
        </ul>
    <li><b>SFTP client available for Mac and Windows: FileZilla</b></li>
            <ul>
                <li>Select File -> Site Manager</li>
                <li>Select New Site</li>
                <li>Under the General Tab in the Site Manager</li>
                <ul>
                    <li>Enter the hostname: mindstorm.cbrain.mcgill.ca</li>
                    <li>Enter the port number: 7500</li>
                    <li>Select the Server Type: <b>SFTP - SSH File Transfer</b> Protocol</li>
                    <li>Select the Logon Type: Normal</li>
                    <li>Enter the username for your CBRAIN account</li>
                    <li>Enter the password for your CBRAIN account</li>
                </ul>
                <li>Under the Advanced Tab</li>
                <ul>
                    <li>Select the Server Type as Unix</li>
                    <li>Select Bypass proxy</li>
                </ul> 
                <li>Click connect</li>
                <li>Files on your local computer are listed on the left.</li>
                <li>File on the remote computer are listed on the right.</li>
                <ul>
                    <li>Files may be dragged to move them to and from the remote and local computers.</li>
                    <li>Options for managing files are displayed by selecting the file and right clicking on that file.</li>
                </ul>    
    </ul>
        <li><b>SFTP Client available on Mac: Cyberduck:</b></li>
        <ul>
            <li>Select Open Connection</li>
            <li>Select <b>SFTP</b> as the file transfer protocol.</li>
            <li>List the server as mindstorm.cbrain.mcgill.ca with your username and password for CBRAIN and list the port as 7500.</li>
            <li>Files displayed in the drawer that appears are those files on the remote computer</ili>
            <li>Right click in the drawer that appears and select Upload to upload files from your local computer to the remote computer</li>
            <li>Select a file and right click to download the file to your local computer</li>
        </ul>
    </ul>
</ul>
<br>
Upload and download your files as needed from the configured client.  Then go to the Data Providers tab, find the "incoming data provider" and click on it's "Browse" link.  Register your files on CBRAIN, and they will appear in the file manager.  You should MOVE these files to one of the official CBRAIN Data Providers. When registering files can be automatically assigned to a project and either moved or copied to the selected data provider.</p>
<% end %>

<% acc.section "How to Leave Feedback" do %>
The <b>Feedback</b> tab links to an interface that gives the user the ability to submit feedback about CBRAIN by clicking on the <b>Leave Feedback</b> link.  Any comments about CBRAIN are welcome and posted on this page.
<br>
<br>
<img src="/doc/feedback/feedback.png">
<br><br>
<% end %>

<% acc.section "Understanding Projects" do %>
By selecting the <b>Create Project</b> drop down menu under the <b>Projects</b> tab, you can create a new project.  The resulting project is a Work Project that only the creator of the project can access.  Only a site manager or system administrator can assign an additional site and users to these work projects.
<br><br>
<b>Projects</b>
<br>
<br>
Projects facilitate the sharing of files and resources between users.  When an <b>Active Project</b> is selected, files and resources associated with that particular project become available under the various tabs.
<br>
<br>
There are four types of projects: system projects, site projects, user projects and work projects.
<br>
<ul>
<li><b>System Projects</b></li>
    <ul>
        <li>Every user on CBRAIN is automatically a member of the system project everyone.</li>
    </ul>
<li><b>Site Projects</b></li>
    <ul>
        <li>Each site has a site project automatically associated with it.</li>
    </ul>
<li><b>User Projects</b></li>    
    <ul>
        <li>Every user on CBRAIN is automatically assigned to a project, that only they are a member of, specified by that user's username.</li>
    </ul>
<li><b>Work Projects</b></li>
    <ul>
        <li>A work project is a type of project that can be created by anyone.</li>
    </ul>
</ul>
At the top of the page the <b>Active Project</b> can be selected.

<% end %>

<% acc.section "Understanding Messages" do %>
There are three types of messages:
<ul>
    <li><b>System</b></li>
        <ul>
            <li>System messages are displayed in blue and are sent by the system administrator.</li>
        </ul>
    <li><b>Notices</b></li>
        <ul>
            <li>Notices are displayed in green and indicate the successful completion of tasks.</li>
        </ul>
    <li><b>Error</b></li>
        <ul>
            <li>Error messages are displayed in red and refer to errors encountered when executing tasks.</li>
        </ul>
</ul>
<% end %>

<% acc.section "How to View Server Information" do %>
The <b>Servers</b> tab links to a page (see below) that gives you the ability to see the details of the available execution servers.  Servers can be assigned a site, project, in some cases you can control whether or not they are online or offline and alive or not.  Workers process jobs on the cluster and the load refers to the jobs currently being executed on the cluster.
<br>
<br>
<img src="/doc/server/view_server.png">
<% end %>

<% acc.section "How to View Site Information" do %>
Sites are essentially abstractions of different organizations associated with CBRAIN.  The information provided on the site information page includes the number of users, projects, files, data providers and remote resources associated with the site.
<br>
<br>
<img src="/doc/sites/site_info.png">
<br>
<% end %>

<% acc.section "How to View Tool Accessibility" do %>
<p>The tools information page (see figure below) displays information about all the available tools, the user that owns them, the project they belong to, the execution server on which they are installed and the type of tool (conversion or scientific) that they are.  A user must belong to the project that the tool is assigned to and the execution server that it is installed on must be available in order to use the tool. Additionally, help links and information links are listed for each tool.</p>
<img src="/doc/tool/tool.png">
<br>
<% end %>

<% acc.section "Viewing Tool Statistics" do %>
<br>At the bottom of the tools information page there is a link to <b>Tool Statistics</b>.  This page displays the tools that you have used and the tools that a particular server has executed, by all users in both percentage and quantity.
<% end %>
<% end %>