
<%

#
# CBRAIN Project
#
# Login manager credits layout
#
# Original author: Angela McCloskey
#
# $Id$

-%>


<div class = "generalcontent">
<br><br>
<br>

<div class = "splitleft"> 
<div class = "box">
<h3>Project Summary</h3>

<p>The CBRAIN Project is an initiative to develop a pan-Canadian network of the 
five leading brain imaging research centres in Canada. In May 2008, Dr. Alan Evans
and colleagues received a CANARIE Network-Enabled Platform award of $2.4M for
this project.</p>

<p>The goal of this project is to develop a platform for distributed processing 
and exchange of 3D/4D brain imaging data. The expected result is a middleware 
platform that will render the processing environment (hardware, operating 
system etc.) transparent to a remote user such that it will be possible to 
apply complex algorithm "pipelines" to large databases stored at remote 
locations and visualize the results as 3D maps in real time. The project will 
provide standard methodology for Canadian brain imaging researchers to 
collaborate productively and fully use available computing and networking 
resources. The platform will be generalizable to different imaging domains 
(radiology, surgical planning) and organs (brain, heart) with profound 
consequences for Canadian medical research.</p>
</div>
</div>

<div class = "splitright">
<div class = "box">
  <h3>Development Team</h3>

  <p><b>Manager:</b> Marc Rousseau</p>
  <p><b>Developers:</b> Pierre Rioux, Tarek Sherif, Angela McCloskey, Mathieu Desrosiers, Martyn Klassen, Anita Oder, Anda Pacurar, Ryan Thomson, Ronghai Tu, Nasim Vafai, Robert Vincent, Jacques Waller </p>

</div>

<div class = "box">
  <h3>Subversion Revision information</h3>
  <p><strong>CBRAIN Revision:</strong> <%= @revinfo['Revision'] %></p>
  <p><strong>Portal Last Changed Author:</strong> <%= @revinfo['Last Changed Author'] %></p>
  <p><strong>Portal Last Changed Revision:</strong> <%= @revinfo['Last Changed Rev'] %></p>
  <p><strong>Portal Last Changed Date:</strong> <%= @revinfo['Last Changed Date'] %></p>
</div>

</div>
</div>
