
<% title 'Credits' %>

<div class="credit_splitleft"> 

   <div class="credit_box">
      <h3><big>Canadian Brain Imaging Research Network (CBRAIN)</big></h3>

      <h3>Funded by Canada's Advanced Network (CANARIE)</h3>

      <p>The goal of CBRAIN is to develop a platform for distributed 
processing and exchange of 3D/4D brain imaging data. The expected result is a 
middleware platform that will render the processing environment (hardware, 
operating system, etc.) transparent to a remote user allowing them to apply 
complex algorithmic pipelines to large datasets stored at remote locations and 
to visualize the results as 3D maps in real time. This platform will provide a 
standard methodology for Canadian brain imaging researchers to collaborate 
productively and fully use available computing and networking resources.  This 
will increase the productivity and ease of collaboration among Canadian 
researchers leading to greater competitiveness with foreign researchers and 
improved medical research efficiency, ultimately leading to an improved quality 
of life across Canada. Though the focus of CBRAIN is providing tools for use by 
brain imaging researchers, the platform will be generalizable to other imaging 
domains, such as radiology, surgical planning and heart imaging, with profound 
consequences for Canadian medical research.
(<%= link_to "More Information", about_us_path %>)</p>
   </div>

</div>

<div class="credit_splitright">

   <div class="credit_box">
     <h3>Participating Research Centers</h3>
     <ul type="none">
     <li><b>Montreal Neurological Institute, McGill University (Lead)</b><br>
        <ul type="none">
           <li><b>Principal Investigator: </b>Alan Evans</li>
           <li><b>Program Manager:</b> Reza Adalat</li>
           <li><b>System Architect: </b>Marc Rousseau </li>
           <li><b>Developers:</b> Pierre Rioux, Tarek Sherif, Angela McCloskey, Nicolas Kassis, Natacha Beck, Samir Das, David Brownlee</li>
           <li><b>System Administrator: </b> Tien Duc Nguyen</l>
           <li><b>McGill Office of Technology Transfer (OTT): </b>Francoys Labonte </li>
           <li><b>Canada National Research Council: </b>Louis Borgeat</li>
           <li><b>Consultants: </b>Rosanne Aleong, Claude Lepage, Pierre Bellec, Andrew Janki, Robert Vincent</li>
        </ul>
     </li><br>
     <li><b>Rotman Research Institute, University of Toronto</b>
        <ul type="none">
           <li><b>Principal Investigators: </b>Stephen Strother and Randy McIntosh </li>
           <li><b>Developers: </b>Anda Pacurar, Anita Oder, Jacques Waller</li>
        </ul>
     </li><br>
     <li><b>Robarts Research Institute, University of Western Ontario</b>
        <ul type="none">
          <li><b>Principal Investigators: </b>Ravi Menon and Mel Goodale</li>
          <li><b>Developers: </b>Martyn Klassen, Ronghai Tu</li>
        </ul>
     </li><br>
     <li><b>Unit&eacute; de Neuroimagerie Fonctionnelle, Universit&eacute; de Montr&eacute;al</b>
         <ul type="none">
            <li><b>Principal Investigators: </b>Julien Doyon and Rick Hoge</li> 
            <li><b>Developer: </b>Mathieu Desrosiers</li>
         </ul>
     </li><br>
     <li><b>Division of Neurology, University of British Colombia</b>
         <ul type="none">
            <li><b>Principal Investigators: </b>Jon Stoessl and Max Cynader</li> 
            <li><b>Developers: </b>Anton Zoubarev, Ryan Thomson, Nasim Vafai</li>
         </ul>
     </li><br>
     <li><strong>CBRAIN</strong> acknowledges the contributions of IBM Canada, Jonathan Harlap and Sebastian Muehlboeck.</li>
     </ul>
   </div>

</div>

