
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Credits' %>

<div class="credit_box">

  <h3>Citing CBRAIN</h3>

    Results published from data gathered or processed with a CBRAIN
    installation should cite the following reference:

    <p>

    <div class="groupentry">

      <strong>Sherif T, Rioux P, Rousseau M-E, Kassis N, Beck N, Adalat R, Das S, Glatard T and Evans AC (2014)</strong><br>
      <em>CBRAIN: a web-based, distributed computing platform for collaborative neuroimaging research.</em><br>
      <a class="action_link" target="_blank" href="http://journal.frontiersin.org/article/10.3389/fninf.2014.00054/abstract">Front. Neuroinform. 8:54. doi: 10.3389/fninf.2014.00054</a>

    </div>

  <h3>CBRAIN Project Information</h3>

    This platform's origin and purpose is described further at the <a class="action_link" href="http://mcin-cnim.ca/neuroimagingtechnologies/cbrain/">MCIN website</a> (McGill Centre for Integrative Neuroscience).<br>

    The code for the project is maintained and distributed on <a class="action_link" href="https://github.com/aces/cbrain">GitHub</a>.
</div>

<div class="box_spacer"></div>

<div class="credit_box">

    <h3>Software Development Credits</h3>

      <ul type="none">
        <li><strong>Principal Investigator: </strong>Alan C. Evans, Montreal Neurological Institute, McGill University</li>
        <li><strong>Program Manager:</strong> Reza Adalat</li>
        <li><strong>Technology Manager: </strong>Marc Rousseau </li>
        <li><strong>System Architecture:</strong> Pierre Rioux, Tarek Sherif, Tristan Glatard</li>
        <li><strong>Lead Developers:</strong> Pierre Rioux, Tarek Sherif, Nicolas Kassis, Natacha Beck, Tristan Glatard, Andrew Doyle</li>
        <li><strong>Additional Developers:</strong> Angela McCloskey, R&eacute;mi Bernard, Tristan Aumentado-Armstrong, Anton Zoubarev, Mathieu Desrosiers, Ehsan Afkhami</li>
        <li><strong>Additional UX Design, Testing, Documentation:</strong> Najmeh Khalili-Mahani</li>
        <li><strong>IT Team:</strong> Alden Woodward, Chris Steele, Pamela Patterson, Pierre Rioux</li>
        <li><strong>Consultants: </strong>Samir Das, Penelope Kostopoulos, Pierre Bellec, Robert Vincent, Christine Rogers, Claude Lepage, Linsday Lewis, Carolina Makowski</li>
        <li><strong>Platform and licensing information:</strong> <a class="action_link" href="/about_us">(Available here)</a></li>
      </ul>

      <p>
      The CBRAIN team would like to thank all users of the <strong>original CBRAIN service</strong>
      at McGill for their invaluable feedback and support.
</div>

<%= render :partial => 'logo_footer' %>

