
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Credits' %>

<div class="display_cell">

   <span class="credit_box display_cell">
      <h3><big>Canadian Brain Imaging Research Network (CBRAIN)</big></h3>

      <h3>Funded by Canada's Advanced Network (CANARIE)</h3>

      <p>The goal of CBRAIN is to develop a platform for distributed
processing and exchange of 3D/4D brain imaging data. The expected result is a
middleware platform that will render the processing environment (hardware,
operating system, etc.) transparent to a remote user allowing them to apply
complex algorithmic pipelines to large datasets stored at remote locations and
to visualize the results as 3D maps in real time. This platform will provide a
standard methodology for Canadian brain imaging researchers to collaborate
productively and fully use available computing and networking resources.  This
will increase the productivity and ease of collaboration among Canadian
researchers leading to greater competitiveness with foreign researchers and
improved medical research efficiency, ultimately leading to an improved quality
of life across Canada. Though the focus of CBRAIN is providing tools for use by
brain imaging researchers, the platform will be generalizable to other imaging
domains, such as radiology, surgical planning and heart imaging, with profound
consequences for Canadian medical research.
(<%= link_to "More Information", about_us_path %>)</p>

      <h3>Citing CBRAIN</h3>

      <p>

      Results published from data gathered or processed with a CBRAIN
      installation should cite the following reference:

      <br><br>

      <strong>Sherif T, Rioux P, Rousseau M-E, Kassis N, Beck N, Adalat R, Das S, Glatard T and Evans AC (2014)</strong>
      <br><em>CBRAIN: a web-based, distributed computing platform for collaborative neuroimaging research.</em><br>
      <a target="_blank" href="http://journal.frontiersin.org/article/10.3389/fninf.2014.00054/abstract">
      Front. Neuroinform. 8:54. doi: 10.3389/fninf.2014.00054
      </a>

      </p>

   </span>

   <span class="box_spacer"></span>

   <span class="credit_box display_cell">
     <h3>Participating Research Centers</h3>
     <ul type="none">
     <li><b>Montreal Neurological Institute, McGill University (Lead)</b><br>
        <ul type="none">
           <li><b>Principal Investigator: </b>Alan Evans</li>
           <li><b>Program Manager:</b> Reza Adalat</li>
           <li><b>System Architect: </b>Marc Rousseau </li>
           <li><b>Developers:</b> Pierre Rioux, Tarek Sherif, Angela McCloskey, Nicolas Kassis, Natacha Beck, Samir Das, David Brownlee</li>
           <li><b>System Administrator: </b> Tien Duc Nguyen</l>
           <li><b>McGill Office of Technology Transfer (OTT): </b>Francoys Labonte </li>
           <li><b>Canada National Research Council: </b>Louis Borgeat</li>
           <li><b>Consultants: </b>Rosanne Aleong, Claude Lepage, Pierre Bellec, Andrew Janki, Robert Vincent</li>
        </ul>
     </li><br>
     <li><b>Rotman Research Institute, University of Toronto</b>
        <ul type="none">
           <li><b>Principal Investigators: </b>Stephen Strother and Randy McIntosh </li>
           <li><b>Developers: </b>Anda Pacurar, Anita Oder, Jacques Waller</li>
        </ul>
     </li><br>
     <li><b>Robarts Research Institute, University of Western Ontario</b>
        <ul type="none">
          <li><b>Principal Investigators: </b>Ravi Menon and Mel Goodale</li>
          <li><b>Developers: </b>Martyn Klassen, Ronghai Tu</li>
        </ul>
     </li><br>
     <li><b>Unit&eacute; de Neuroimagerie Fonctionnelle, Universit&eacute; de Montr&eacute;al</b>
         <ul type="none">
            <li><b>Principal Investigators: </b>Julien Doyon and Rick Hoge</li>
            <li><b>Developer: </b>Mathieu Desrosiers</li>
         </ul>
     </li><br>
     <li><b>Division of Neurology, University of British Colombia</b>
         <ul type="none">
            <li><b>Principal Investigators: </b>Jon Stoessl and Max Cynader</li>
            <li><b>Developers: </b>Anton Zoubarev, Ryan Thomson, Nasim Vafai</li>
         </ul>
     </li><br>
     <li><strong>CBRAIN</strong> acknowledges the contributions of IBM Canada, Jonathan Harlap and Sebastian Muehlboeck.</li>
     </ul>
   </span>

</div>

<%= render :partial => 'logo_footer' %>

