
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2021
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Provenance' %>

<div class="credit_box">

  <h3>CBRAIN Provenance Statement</h3>

  New features and bug fixes are tested and released into the
  development branch upon completion.  Continuous integration testing
  is performed in an automated fashion and is applied to all code
  incorporated into the development repository.  All pull requests
  are reviewed and validated by the senior development team before
  either being accepted or returned so as to undergo further
  modification and testing by the submitting developer.

  <p>

  Major releases are made so as amalgamate together collections of
  bug fixes, patches and new features assessed as beneficial for
  issuance as a cumulative, integrated release for community use.
  Major releases are performed by the CBRAIN Lead Developer and
  authorized together with the CBRAIN Team Director.

  <p>

  Each release contains an associated set of release notes documentation
  clearly identifying the new features and issues that are addressed
  within a given release.

  <p>

  <a href="https://github.com/aces/cbrain/blob/master/Release-Notes.md">Release Notes</a>
  are available in the CBRAIN GitHub repository.

  <p>

  <small>Document last updated: 2021-05-03</small>

</div>

<%= render :partial => 'portal/logo_footer' %>

