
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'CBRAIN API' %>

<link href='swagger/css/typography.css' media='screen' rel='stylesheet' type='text/css'/>
<link href='swagger/css/reset.css'      media='screen' rel='stylesheet' type='text/css'/>
<link href='swagger/css/screen.css'     media='screen' rel='stylesheet' type='text/css'/>

<script src='swagger/lib/object-assign-pollyfill.js'       type='text/javascript'></script>
<script src='swagger/lib/jquery-1.8.0.min.js'              type='text/javascript'></script>
<script src='swagger/lib/jquery.slideto.min.js'            type='text/javascript'></script>
<script src='swagger/lib/jquery.wiggle.min.js'             type='text/javascript'></script>
<script src='swagger/lib/jquery.ba-bbq.min.js'             type='text/javascript'></script>
<script src='swagger/lib/handlebars-4.0.5.js'              type='text/javascript'></script>
<script src='swagger/lib/lodash.min.js'                    type='text/javascript'></script>
<script src='swagger/lib/backbone-min.js'                  type='text/javascript'></script>
<script src='swagger/swagger-ui.min.js'                    type='text/javascript'></script>
<script src='swagger/lib/highlight.9.1.0.pack.js'          type='text/javascript'></script>
<script src='swagger/lib/highlight.9.1.0.pack_extended.js' type='text/javascript'></script>
<script src='swagger/lib/jsoneditor.min.js'                type='text/javascript'></script>
<script src='swagger/lib/marked.js'                        type='text/javascript'></script>
<script src='swagger/lib/swagger-oauth.js'                 type='text/javascript'></script>

<p class="medium_paragraphs">
<strong>Important note:</strong>
This API specification is still at a prototype stage.
There are likely many issues and bugs remaining. In particular, the
<em>Try it out!</em> buttons will not work for POST operations if you
are already logged in into the CBRAIN portal; instead <%= link_to "sign out",logout_path %> and
log back in using the <em>Session</em> actions located here.
</p>

<div class="swagger-section">
  <div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
  <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</div>

<script type="text/javascript">

(function() {

var swagger_specbasename = <%= html_for_js(@specfile) %>;
var swaggerUi = new SwaggerUi({
  url:                   './' + swagger_specbasename,
  dom_id:                'swagger-ui-container',
  defaultModelRendering: 'schema',
  onComplete:
    function(swaggerApi, swaggerUi) {
      // Overide the built-in CBRAIN service config to use the current page's.
      var host   = window.location.host;                      // can include the port number
      var scheme = window.location.protocol.replace(/:/,"");  // "http" or "https"
      swaggerApi.setHost(      host     );
      swaggerApi.setSchemes( [ scheme ] );
    }
});
swaggerUi.load();

})();

</script>

