
<%%
# Use this template to create the content of the tab
# that shows the parameters for your task.
# This partial has access to the following variables:
#
#    task  -  Your current task object
#
#    params -  A shortend to task.params
#
# The default template belows shows links to
# the userfiles IDs listed in :interface_usefile_ids,
# which is the default place where the framework
# stores the IDs selected in the userfile index page.
# If your task actually stores IDs in other
# keys, adjust accordingly.
#
# Note that this is NOT a form, it should simply provide
# a nice friendly summary of the active parameters
# for this task.
-%>

<STRONG>Input:</STRONG>
<P>
<UL>
<%% params[:interface_userfile_ids].each do |id| %>
  <LI>Userfile: <%%= link_to_userfile_if_accessible id %></LI>
<%% end %>
</UL>
Other option? <%%= params[:something].blank? ? "No" : "Yes" %>
<BR>
<STRONG>Output:</STRONG>
<P>
Final file: <%%= link_to_userfile_if_accessible params[:outfile_id] %>

