<% if @_license_text.present? -%>

<!--
<%= @_license_text -%>
-->
<% end -%>

<h1>Task options for <%= class_name %></h1>

<b><center>Document your parameters in this file.</center></b>

<p>
This file is located in CBRAIN's path:
   <%= Rails.root.to_s + "/public/doc/tasks/#{file_name}_options.html" %>
<p>

<b>Some Section</b>
<ul>
    <li><b>param1:</b> description 1.</li>
    <li><b>param2:</b> description 2.</li>
    <li><b>param3:</b> description 3.</li>
</ul>

