
<% title "Users" %>

<div class="menu_bar menu_bar_left">
  <%= button_with_dropdown_menu('Create User', :partial => 'new', :content_id => 'new_model_panel', :button_id => "new_model_button") %>
  <%= render :partial => "shared/manage_filter_button", :locals => {:model => :user}  %>
</div>

<%= render :partial => 'users_table' %>

