
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>
<div class = "generalcontent">

<% title "Users"%>

    <div class="menu_bar">
       <% button_with_dropdown_menu({:title => 'Create User', :partial => 'new'}, {:id => "new_user_button"}) %>
    </div>

<table class="resource_list" id="user_table">
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>Email</th>
    <th>Groups</th>
    <th>Role</th>
    <th>Site</th>
    <th>Number of Files</th>
    <th colspan="2">Operations</th>
  </tr>

<% for user in @users %>
  <%= render :partial => 'user_table_row', :locals  => {:user  => user}%>
<% end %>
</table>
</div>
