
<% title 'Lost Password?' %>

<h2>Lost password? Fill this form, we'll contact you.</h2>

<% form_tag send_password_users_path do %>
  <table id="request_password" class="logintable">
    <tr>
      <td><label for="login">CBRAIN login:</label></td>
      <td class="field"><%= text_field_tag :login %></td>
    </tr>
    <tr>  
      <td><label for="email">E-mail address on your CBRAIN account:</label></td>
      <td class="field"><%= text_field_tag :email %></td>
    </tr>
    <tr>
     <td></td>
     <td class="field"><br><%= submit_tag 'Submit' %></td></td>
    </tr>
  </table>
<% end %>

