
<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title("Files", '') %>

<div id="nh_projects_files" class="nh_content">
  <% if @files.exists? %>
    <div class="nh_actions">
      <%= button_to "Upload Files", switch_groups_path(id: @nh_project.id), :class => "btn-solid-secondary nh_action", :method => :post %>
    </div>
    <div class="nh_table_scroll">
      <table>
      <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <% @files.each do |file| %>
            <tr>
              <td><%= link_to_userfile_if_accessible(file) %></td>
              <td><%= file.pretty_type %></td>
              <td><%= colored_pretty_size(file.size) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="empty">
      <div class="empty-wrapper">
        <img class="empty-icon" src="/images/neurohub/NH_empty_files.svg" />
        <p class="empty-text">There are no current files for this project.</p>
      </div>
    </div>
  <% end %>
</div>
