
<%-
  #
  # NeuroHub Project
  #
  # Copyright (C) 2020
  # The Royal Institution for the Advancement of Learning
  # McGill University
  #
  # This program is free software: you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation, either version 3 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #
-%>

<% title 'Projects' %>


<div id="nh_projects">
  <div class="nh_titlebar"><p class="title">Projects <span>(<%= @nh_projects.count %></span>)</p></div>

  <div class="nh_actions">
    <%= link_to "+ Add project", {:action => :new }, :method  => :get, :class => "btn-solid-secondary nh_action"  %>
  </div>
  <div class="nh_table_scroll">

  <table>
    <thead>
      <tr>
        <th>projects</th>
        <th>actions</th>
      </tr>
    </thead>
    
    <tbody>
        <% @nh_projects.each do |project| %>
        <tr class="nh_table_tr">
          <th data-type="link"><%= link_to project.name, {:action => :show, :id => project.id}, :method  => :get,:class => "btn-text-secondary"  %></th>
          <td><%= link_to 'Edit', {:action => :edit, :id => project.id}, :method  => :get %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  </div>
</div>

