
<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title "Project licence for #{@nh_project.name}" %>

<h2> Please enter the text of the license agreement for project <% @nh_project.name %></h2>

All the members of the project, including you, will be required to sign the agreement in order to access the project.
However you can assign additional license agreements at any time.


<%= form_tag(:action  => :add_license) do %>

  <%= text_area_tag "meta[license_description]", "", :required => true %>

  <%= submit_tag "Impose License", :name => :add_license %>

<% end %>
