
<%

#
# CBRAIN Project
#
# $Id: new.html.erb 457 2009-09-02 20:36:49Z tsherif $
#

-%>
<% form_for :tag, @tag, {:url => { :controller => "tags", :action => "create" }}  do |f| %>
            <%= f.error_messages %>
            <div id = "add_tag">
                <div id = "new_tag">
                    Create Tag (use a unique name)
                </div>
                <%= f.text_field :name, :size => 9 %>
                <%= f.submit "Add" %>
                <br>
                <br>
        </div>
<% end %>   
