
<%

#
# CBRAIN Project
#
# $Id: new.html.erb 457 2009-09-02 20:36:49Z tsherif $
#

-%>

<div class = "generalcontent">
    
    <div id = "new_tag">
      <br>
      <% remote_form_for :tag, @tag, :url => { :action => "create" } do |f| -%>
        <%= f.error_messages %>
          <%= f.label :name %><br />
          <%= f.text_field :name %>
          <%= f.submit "Create" %>
      <% end %>
      <br>
     </div>
</div>   <!-- End class="generalcontent" -->
