
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<div class = "generalcontent">
     
       <table class="resource_list" id="tag_table">
        <tr>
          <th>Tag Name</th>
          <th colspan="3">Operations</th>
        </tr>

         <% for tag in @tags %>
            <%= render :partial => 'tag_table_row', :locals  => {:tag  => tag} %>
         <% end %>
      </table>
      <br/>
</div>  <!-- End class="generalcontent" -->
