
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<div class = "generalcontent">

   <h2>Tags</h2>
     
     <div class="resource_list_box">
       <%= button_to 'Create New Tag', new_tag_path, :method => :get %>
     </div>


      <table class="resource_list">
        <tr>
          <th>Tag Name</th>
          <th colspan="3">Operations</th>
        </tr>

         <% for tag in @tags %>
           <tr class="<%= cycle( 'list-odd', 'list-even') -%>">
             <td><%= link_to h(tag.name), edit_tag_path(tag) %></td>
             <td><%= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete %></td>
           </tr>
         <% end %>
      </table>
      <br/>
</div>  <!-- End class="generalcontent" -->
