

<% title "Tag Info" %>
<div class = "generalcontent">

<h2>Tag Information</h2>

<div class = "generalbox">

<table>
   <tr class="list-even">
      <th>Name</th>
      <td><%=h @tag.name %></td>
   </tr>
   <tr class="list-even">
      <th>Associated with Files</th>
      <td><%= @tag.userfiles.collect{|f| h(f.name)}.join("<br>") %></td>
   </tr>
</table>

<%= link_to 'Index', tags_path %>
</div>
</div>