
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<tr>
  <td><strong>These other tasks...</strong></td>
  <td><strong>...must be in these states</strong></td>
</tr>

<% for_this.keys.sort.each do |ttid|
   next unless ttid =~ /\AT(\d+)/
   tid = Regexp.last_match[1]
   pstate = for_this[ttid]
   otask = CbrainTask.find(tid) rescue nil
   otaskname = "(DestroyedTask)/#{tid}"
   ostate    = ""
   if otask
     otaskname = "#{otask.pretty_name}@#{otask.bname_tid}"
     ostate  = "(#{colored_status(otask.status)})"
   end
%>
  <tr>
    <td><%= otask ? (link_to otaskname, task_path(tid)) : otaskname %> <%= ostate.html_safe %></td>
    <td><%= pstate %></td>
  </tr>
<% end %>

