
<TR>
  <TD><STRONG>These other tasks...</STRONG></TD>
  <TD><STRONG>...must be in these states</STRONG></TD>
</TR>

<% for_this.keys.sort.each do |ttid|
   next unless ttid =~ /^T(\d+)/
   tid = Regexp.last_match[1]
   state = for_this[ttid]
   otask = CbrainTask.find(tid) rescue nil
   otaskname = otask ? "#{otask.name}@#{otask.bname_tid}" : "(DestroyedTask)/#{tid}"
%>
  <TR>
    <TD><%= otask ? (link_to otaskname, "/tasks/show/#{tid}") : h(otaskname) %></TD>
    <TD><%= h(state) %></TD>
  </TR>
<% end %>

