
<tr>
  <td><strong>These other tasks...</strong></td>
  <td><strong>...must be in these states</strong></td>
</tr>

<% for_this.keys.sort.each do |ttid|
   next unless ttid =~ /^T(\d+)/
   tid = Regexp.last_match[1]
   state = for_this[ttid]
   otask = CbrainTask.find(tid) rescue nil
   otaskname = otask ? "#{otask.name}@#{otask.bname_tid}" : "(DestroyedTask)/#{tid}"
%>
  <tr>
    <td><%= otask ? (link_to otaskname, task_path(tid)) : h(otaskname) %></td>
    <td><%= h(state) %></td>
  </tr>
<% end %>

