
<% if @filter_params["sort_hash"]["order"] == 'cbrain_tasks.batch' %>
  <strong>Currently in Batch View</strong>
<% else %>
  <h5>
    <%= ajax_sort_link "Switch to Batch View", 'CbrainTask', 'batch' %>
  </h5>
<% end %>

<% if @total_entries > @standard_tasks_per_page %>
  <h5>
    <%= filter_add_link @filter_params["pagination"] == 'on' ? "Disable Pagination" : "Paginate",
                        :parameter => :pagination,
                        :value => set_toggle(@filter_params["pagination"])
    %>
  </h5>
<% end %>
