<div class="active_filters">
  <% unless @filter_params["filter_hash"].blank? && @filter_params["filter_custom_filters_array"].blank? %>  
     Active Filters (<%= filter_clear_link 'clear', :class  => "action_link" %>):  
      <span id="current_filters">
        <% 
          filters = @filter_params["filter_hash"].map do |att, val| 
            if att == "type"
             "<span class=\"current_filters_item\">#{crop_text_to(30, val.demodulize)}</span>" + filter_remove_link(delete_icon, att)
            else
              "<span class=\"current_filters_item\">#{crop_text_to(30, display_filter(:cbrain_task, att, val, {:user  => :login}))}</span>" + filter_remove_link(delete_icon, att)
            end
          end 
          filters += current_user.custom_filters.find(@filter_params["filter_custom_filters_array"]).map do |filter|
            "<span class=\"current_filters_item\">#{crop_text_to(30, "Custom: #{filter.name}")}</span>" + filter_remove_link(delete_icon, filter.id, :parameter  => :filter_custom_filters_array)
          end
        %>
        <%= filters.join(", ").html_safe %>
      </span>
  <% end %>
</div>
<div id="pagination" class="pagination">
  <%= render :partial => "pagination" %>
</div>

<%= 
  index_table(@paginated_list, :class => "resource_list", :id => "tasks_table") do |t|
    t.column(select_all_checkbox "task_checkbox")
    t.sort_column("Task Name", 'CbrainTask', 'type', :filters => basic_filters_for(@header_scope, CbrainTask, :type, &:demodulize))
    t.sort_column("Description", 'CbrainTask', 'description')
    t.sort_column("Owner", 'User', 'login', :filters => association_filters_for(@header_scope, CbrainTask, :user, :name_method => :login))
    unless current_project
      t.sort_column("Project", 'Group', 'name', :filters => association_filters_for(@header_scope, CbrainTask, :group))
    end
    t.sort_column("Execution Server", 'RemoteResource', 'name', :filters => association_filters_for(@header_scope, CbrainTask, :bourreau, :association_table => :remote_resources))
    t.sort_column("Current Status", 'CbrainTask', 'status', :filters => basic_filters_for(@header_scope, CbrainTask, :status))
    t.column("Run Number")
    t.sort_column("Workdir Size", 'CbrainTask', 'cluster_workdir_size')
    t.sort_column("Time Submitted", 'CbrainTask', 'created_at')
    t.sort_column("Last Updated", 'CbrainTask', 'updated_at')
    t.row_override do |launch_time|
      render :partial => 'tasks/batch_view', :locals => {:launch_time => launch_time}
    end
  end 
%>
