
<% title toolname %>

<% myidlist = @task.new_record? ? @task.params[:interface_userfile_ids] : [ @task.params[params_var] ] %>

Run <%= h(toolname) %> on:<P>

<ul>
  <% myidlist.each do |id| %>
    <li><%= h( Userfile.find(id).name ) %></li>
  <% end %>
</ul>

