
<% myidlist = @task.new_record? ? @task.params[:interface_userfile_ids] : [ @task.params[params_var] ] %>

Run <%= h(toolname) %> on:<P>

<ul>
  <% (myidlist || []).each do |id| %>
    <li><%= link_to_userfile_if_accessible(id) %></li>
  <% end %>
</ul>

