<%= button_with_dropdown_menu("View Options") do %>
  <div class="view_options">
    <% unless @sort_order == 'cbrain_tasks.batch' %>
       <%= ajax_sort_link "Switch to Batch View", 'CbrainTask', 'batch' %>
       <br>
     <% end %>
     Number of tasks per page:
     <%= ajax_onchange_select( :per_page, tasks_path(:update_filter => true), options_for_select( [25, 50, 100, 200, 500 ], @tasks_per_page ), :datatype => "script") %>
  </div>
<% end %>
