
<h1>Background upload of files in Zenodo deposit</h1>

Deposit ID: <%= @deposit_id %>
Link: <%= link_to "Zenodo Deposit Form", url_for_deposit(@task.zenodo_deposit_id) %>

<br>
todo explain sandbox vs main
