
<% title 'Tasks' %>

<div id="pagination">
  <%= render :partial  => "pagination" %>
</div>

<% ajax_form_tag(url_for(:controller => 'tasks', :action => 'operation'), :method => :post, :datatype  => "script") do %>

  <div class="display_cell" id="tasks_div">
    <table class="resource_list" id="tasks_table">
      <%= render :partial => "tasks/tasks_table" %>
    </table>
  </div>

  <div class="display_cell sidebar">
    <%= render :partial => "tasks/sidebar" %>
  </div> <!-- display cell -->

<% end %>  <!-- End form -->
