<% title 'Tasks' %>

<div id="tasks_div">
  <%= form_tag(url_for(:controller => 'tasks', :action => 'operation'), :method => :post) do %>
      
      <%= render :partial => 'task_menu' %>
      
      <div id="tasks_display">
        <%= render :partial => "tasks/tasks_display" %>
      </div>

  <% end %>  <!-- End form -->
</div>

