
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>

<% title 'Tasks' %>



<% form_tag(url_for(:controller => 'tasks', :action => 'operation'), :method => :post) do %>

   <div class = "generalcontent">
      <div id="main_task_content">
          <div class = "resource_list_upper_form">
          <br>        
                 <%= select_tag(
                    "operation",
                    '
                    <option value="">Operations on selected tasks:</option>
                  
                    <optgroup label="Operations for queued tasks">
                    <option value="hold">Hold queued tasks</option>
                    <option value="release">Release held tasks</option>
                  
                    <optgroup label="Operations for running tasks">
                    <option value="suspend">Suspend running tasks</option>
                    <option value="resume">Resume suspended tasks</option>
                  
                    <optgroup label="Operations for all tasks">
                    <option value="terminate">Terminate selected tasks</option>
                    <option value="delete">Remove selected tasks</option>
                    '
                    ) %>
            
                    <%= submit_tag("Apply Operation") %>
              <br><br>
        </div>  <!-- End class="resource_list_box" -->
      
        <table class = "resource_list" id="tasks_table">
          <%= render :partial => 'tasks_table' %>
        </table>
      </div>
   </div>  <!-- End class="generalcontent" -->
<% end %>  <!-- End form -->



