
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>

<% title 'Tasks' %>

<% form_tag(url_for(:controller => 'tasks', :action => 'operation'), :method => :post, :class  => :ajax_form, "data-datatype"  => "script") do %>

  <div class="display_cell" id="tasks_div">
    <table class="resource_list" id="tasks_table">
      <%= render :partial => "tasks/tasks_table" %>
    </table>
  </div>

  <div class="display_cell sidebar">
    <%= render :partial => "tasks/sidebar" %>
  </div> <!-- display cell -->

<% end %>  <!-- End form -->
