<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Lost Password?' %>

<h2>Lost password? Fill this form, we'll contact you.</h2>

<%= form_tag send_password_nh_session_path do %>
  <table>
    <tr>
      <td><label for="login">Neurohub login:</label></td>
      <td class="field"><%= text_field_tag :login %></td>
    </tr>
    <tr>
      <td><label for="email">E-mail address on your Neurohub account:</label></td>
      <td class="field"><%= text_field_tag :email %></td>
    </tr>
    <tr>
     <td></td>
     <td class="field"><br><%= submit_tag 'Submit' %></td></td>
    </tr>
  </table>
<% end %>

