<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Lost Password?' %>

<div id="nh_sessions_request_password" class="nh_content">

    <a href="/signin">
      <div class="nh_logo"></div>
    </a>
  <div class="nh_form">

    <div class="nh_form_title">
      Lost password?
      <p class="text-xs text-italic">Fill this form and we will contact you.</p>
    </div>

    <%= form_tag send_password_nh_session_path do %>

      <fieldset>
        <label for="login">Neurohub Login</label>
        <%= text_field_tag :login %>
      </fieldset>

      <fieldset>
       <label for="email">Email address</label>
       <%= text_field_tag :email %>
       <span class="field_note">Please supply the email address linked to your account.</span>
      </fieldset>
      
      <div class="btn-section">
        <%= submit_tag 'Submit', :class=>"btn-solid-secondary" %>
        <a class="action_link btn-text-secondary mt-2" href="/signin">Log In to Neurohub</a>
      </div>

    <% end %>
  </div>

</div> 



