{
    "swagger": "2.0",
    "info": {
        "title": "CBRAIN API",
        "description": "Interface to control CBRAIN operations",
        "version": "4.5.1"
    },
    "host": "portal.cbrain.mcgill.ca",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/sessions/new.json": {
            "get": {
                "summary": "New session initiator",
                "description": "This returns an object with the information necessary to\ncreate a new session.\n",
                "tags": [
                    "Sessions"
                ],
                "responses": {
                    "200": {
                        "description": "An object with an authenticity token",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "authenticity_token": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/sessions/create.json": {
            "post": {
                "summary": "Create a new session",
                "description": "This is the main entry point to create a CBRAIN session.\n",
                "parameters": [
                    {
                        "name": "authenticity_token",
                        "in": "query",
                        "description": "The token returned by /sessions/new",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "login",
                        "in": "query",
                        "description": "The CBRAIN user's username",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "The CBRAIN user's password",
                        "required": true,
                        "type": "string",
                        "format": "password"
                    }
                ],
                "tags": [
                    "Sessions"
                ],
                "responses": {
                    "200": {
                        "description": "An object with the session ID and the CBRAIN user ID",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "session_id": {
                                    "type": "string"
                                },
                                "user_id": {
                                    "type": "number"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Password authentication failed."
                    }
                }
            }
        },
        "/sessions.json": {
            "get": {
                "summary": "Get session information",
                "description": "This returns information about the current session.\n",
                "tags": [
                    "Sessions"
                ],
                "responses": {
                    "200": {
                        "description": "An object with the CBRAIN user ID",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "user_id": {
                                    "type": "number"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No session created yet."
                    }
                }
            }
        },
        "/users/{id}": {
            "get": {
                "summary": "heelo",
                "description": "yippeehh",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the user",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "An object with the CBRAIN user information",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "User": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "number",
                    "format": "int64",
                    "description": "Unique numerical ID for the user."
                },
                "login": {
                    "type": "string",
                    "description": "UNIX-style username."
                },
                "full_name": {
                    "type": "string",
                    "description": "Full name of the user."
                },
                "email": {
                    "type": "string",
                    "description": "email address of the user."
                },
                "type": {
                    "type": "string",
                    "description": "class of the user, one of CorAdmin,AdminUser, SiteManager or NormalUser."
                },
                "created_at": {
                    "type": "string",
                    "format": "dateTime",
                    "description": "when the user's account was created"
                },
                "updated_at": {
                    "type": "string",
                    "format": "dateTime",
                    "description": "when the user's account was last modified"
                },
                "site_id": {
                    "type": "number",
                    "format": "int64",
                    "description": "ID of the site affiliation for the user. Can be nil."
                },
                "time_zone": {
                    "type": "string",
                    "description": "the name of the time zone of the user."
                },
                "city": {
                    "type": "string",
                    "description": "the name of the city of the user."
                },
                "last_connected_at": {
                    "type": "string",
                    "format": "dateTime",
                    "description": "time of last connection by the user."
                },
                "account_locked": {
                    "type": "string",
                    "format": "boolean",
                    "description": "Whether or not the account is locked."
                }
            }
        }
    }
}