
PID: <%= @pid_to_restart %>
<h1>Update and reboot</h1>

Temporary feature for NeuroHub developers.
<p>
Click
<%= link_to 'Update and Reboot', reboot_path({ :do_it => true }), { :class => "button" } %>
to start the update and reboot process.
<p>
Please <strong>do not abuse this system</strong>. Use only when you've pushed something new to
the <em>neurohub</em> GitHub branch. If anything goes wrong (it's totally possible), contact Pierre.
<p>
On the main production server, it will take about 40 seconds for the update to finish,
and then the server will stop and be restarted within 30 seconds or so.
<p>
In development, it's often better to cycle the server manually. The server will stop but will not restart automatically.
<p>

<% if File.exists? "public/previous_reboot.txt" %>
  <h1>Previous reboot logs</h1>
  <pre class="nh-reboot-text"><%= File.read("public/previous_reboot.txt").gsub(/\e\[[\d\;]+m/,"") %></pre>
<% end %>

