
<h1>Update and reboot control page</h1>

<h2>This is a temporary feature for NeuroHub developers.</h2>

Current PUMA pid: <%= @pid_to_restart %><br>
Latest git log:
<pre class="nh-reboot-text">
<%= IO.popen("git log -n 1 --decorate=full --stat","r") { |f| f.read } %>
</pre>

<h2>Read this first</h2>

Click
<%= link_to 'Update and Reboot', reboot_path({ :do_it => true }), { :class => "button" } %>
to start the update and reboot process.
<p>
Please <strong>do not abuse this system</strong>. Use only when you've pushed something new to
the <em>neurohub</em> GitHub branch. If anything goes wrong (it's totally possible), contact Pierre.
<p>
On the main production server, it will take about 20 seconds for the update to finish,
and then the server will stop and be restarted within 30 seconds or so. While the server
is stopped, nginx will produce error messages. The file 'reboot.txt' is erased at the
beginning of the next restart, so it will disappear too.
<p>
In development, it's often better to cycle the server manually. The server will stop but will not restart automatically.
<p>

<% if File.exists? "public/previous_reboot.txt" %>
  <h2>Previous reboot logs</h2>
  <pre class="nh-reboot-text"><%= File.read("public/previous_reboot.txt").gsub(/\e\[[\d\;]+m/,"") %></pre>
<% end %>

