
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="help_document_popup">
  <% if HelpDocument.can_edit?(current_user) %>
    <%= stylesheet_link_tag "codemirror", "codemirror-neo" %>

    <button class="show" style="display:none">Show</button>
    <button class="edit" style="display:none">Edit</button>
    <button class="save" style="display:none">Save</button>
    <button class="remove" style="display:none">Remove</button>

    <div class="editor" style="display:none"></div>

    <div class="empty" style="display:none">
      There is no documentation on this topic right now. <br />
      Add some by using the edit button in the top left corner.
    </div>
  <% end %>

  <div class="contents"></div>

  <%= javascript_tag (render :partial => "show.js.erb", :formats => [:js]).to_s %>

  <script type="text/x-markdown" class="raw">
    <%- # FIXME <script> tags? -%>
    <%= (@doc.contents || "").html_safe %>
  </script>
</div>
