
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% if ! @userfile.is_locally_synced? %>
  <span class="warning">
    This file must be synced locally to view QC data.
  </span>
<% else %>
  <% div_id_to_replace = "sub_viewer_#{@userfile.id}" %>
  <% link = data_link(@userfile.name, @userfile, div_id_to_replace) %>
  <% if link =~ /data-url=/ %>
    <div id="<%= div_id_to_replace %>">
      <%= link %>
    </div>
    <script type="application/javascript" defer>
        var subViewerDiv  = $("#<%= div_id_to_replace %>");
        var subViewerLink = subViewerDiv.find(".ajax_onclick_show_element");
        if (subViewerLink) { subViewerLink.click() };
    </script>
  <% else %>
    <span class="warning">
      This file does not seem to contain any QC data, or no template is available to QC this file type.
    </span>
  <% end %>
<% end %>

