<h4>By Type</h4>
     
<ul class="filter_menu">

  <li><%= ajax_link 'All Files', {:controller  => :userfiles, :action  => :index, :userfiles_search_type  => :unfilter}, :datatype  => 'script' %> 
  </li> 
  
  <% SingleFile.send(:subclasses).each do |sf| %>
    <li><%= ajax_link sf.pretty_type.pluralize, {:controller  => :userfiles, :action  => :index, :userfiles_search_type => :format, :userfiles_search_term  => sf.name}, :datatype  => 'script' %> 
    </li>
  <% end %>
  
  <% FileCollection.send(:subclasses).each do |fc| %>
    <li><%= ajax_link fc.pretty_type.pluralize, {:controller  => :userfiles, :action  => :index, :userfiles_search_type => :format, :userfiles_search_term  => fc.name}, :datatype  => 'script' %> 
    </li>
  <% end %>
</ul>

<% @custom_filter = UserfileCustomFilter.new %>
<div id="custom_filters_list">
  <%= render :partial => 'custom_filters/custom_filter_list' %>
</div>




