
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

$(document).delegate('form#file_upload', 'submit', function (event) {
  "use strict";

  /* Make sure the browser supports it */
  var xhr = new XMLHttpRequest();
  if (!('upload' in xhr) || !('onprogress' in xhr)) return;

  var index      = "<%= j (userfiles_path()) %>",
      form       = $(this),
      dialog     = undefined,
      progress   = undefined,
      label      = undefined,
      start_time = undefined;

  /* Make sure a file is selected for upload */
  if (!$('#upload_file').attr('value')) return;

  /* Send the upload using AJAX */
  event.preventDefault();

  $.ajax({
    url:         this.action,
    type:        this.method,
    data:        new FormData(this),
    cache:       false,
    contentType: false,
    processData: false,
    xhr: function () {
      var xhr = $.ajaxSettings.xhr();
      xhr.upload.onloadstart = onloadstart;
      xhr.upload.onprogress  = onprogress;
      xhr.upload.onloadend   = onloadend;
      return xhr;
    },
    complete: function () { window.location.href = index; }
  });

  /* The upload started; show a nice progress bar. */
  function onloadstart(event) {
    label    = $('<div class="label"></div>');
    progress = $('<div class="bar">').append(label);
    dialog   = $('<div class="progress_dialog">').append(progress);

    progress.progressbar({ value: false });
    dialog.dialog({
      title:         'Uploading...',
      modal:         true,
      resizable:     false,
      draggable:     false,
      closeOnEscape: false,
      width:         400,
      dialogClass:   'no_close'
    });

    start_time = new Date();
    onprogress(event);
  };

  /* Some progress has been made on the upload; update the progress bar. */
  function onprogress(event) {
    if (!event.lengthComputable) return;

    var elapsed = (new Date() - start_time) / 1000,
        loaded  = human_readable(event.loaded),
        total   = human_readable(event.total),
        speed   = elapsed ? human_readable(event.loaded / elapsed) + "/s" : "?";

    progress.progressbar('value', event.loaded / event.total * 100);
    label.text(loaded + " / " + total + " (" + speed + ")");
  };

  /* The upload is done; remove the progress bar. */
  function onloadend(event) {
    dialog.dialog('close');
    dialog.remove();
  };

  /* Format a byte size into something easier to read (65536 -> 64K) */
  function human_readable(byte_size) {
    var sizes = [ 1,   1 << 10, 1 << 20, 1 << 30 ],
        names = [ 'B', 'KB',    'MB',    'GB' ];

    for (var i = sizes.length - 1; i > 0; --i)
      if (10 * sizes[i] < byte_size)
        return (byte_size / sizes[i] | 0) + names[i];

    return byte_size + names[0];
  };
});
