<h4>By Type</h4>
     
<ul class="filter_menu">
  
  <% SingleFile.send(:subclasses).each do |sf| %>
    <li><%= filter_add_link sf.pretty_type.pluralize, :filters => {:file_format  => sf.name} %></li>
  <% end %>
  
  <% FileCollection.send(:subclasses).each do |fc| %>
    <li><%= filter_add_link fc.pretty_type.pluralize, :filters => {:file_format  => fc.name} %></li>
  <% end %>
</ul>

<% @custom_filter = UserfileCustomFilter.new %>
<div id="custom_filters_list">
  <%= render :partial => 'custom_filters/custom_filter_list' %>
</div>




