 
<table class="plain_file_list" class="resource_list">
   <tr class="list-odd">
     <th>
       <% if @userfile.is_locally_synced? %>
          <input type='checkbox' class="select_all" data-checkbox-class="collection_checkbox"/>
       <% end %>
     </th>
     <th>File</th>
     <th>Size</th>
   </tr>
   <%= render :partial => 'directory_contents', :locals  => {:file_list  => @userfile.list_files(".", [:regular, :directory])} %>

</table>
