<span class="button_set">
  <%= submit_button("Jiv Viewer", {:name => "commit", :id => "jiv_submit"}) %>

  <%= hijacker_submit_button("(Un)compress",  :url  => url_for(:action  => :compress ),
                                              :confirm => "Are you sure you want to compress or uncompress the selected files?", 
                                              :class  => "button", 
                                              :method  => :post) 
  %>

  <%= hijacker_submit_button("Create Collection", :url  => url_for(:action  => :create_collection),
                                                  :class  => "button", 
                                                  :method  => :post)
  %>
  
  <%= hijacker_submit_button("Delete", :url  => url_for(:action  => :delete_files),
                                       :class  => "button",
                                       :confirm => "Are you sure you want to delete the selected files?",
                                       :method  => :delete) 
  %>
</span>