<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

$(document).delegate('div#tool_version_selector > div', 'new_content', function (event) {
  "use strict";

  var userfile_checkboxes = $("input[name='file_ids[]']"),
      menu_button         = $(this).find('input.launch_tool'),
      launch_form         = $("#userfile_table_form"),
      url                 = menu_button.attr('data-url'),
      method              = menu_button.attr('data-method'),
      tool_name           = launch_form.find('select#tool_id option:selected').text().replace("Launch ", ""),
      persistent          = parseInt($('.psel-count').text()) > 0;

  /* If theres URL & method attributes on menu_button, use them instead of the form's */
  if (url)    launch_form.attr('action', url);
  if (method) launch_form.attr('method', method);

  menu_button
    .unbind('click.launch_task')
    .bind('click.launch_task', function (event) {

      // This was added to handle the popup dialog
      $("#tool_version_selector").appendTo(launch_form);
      $("#toolsDialog").dialog( "close");

      /* If we have userfiles selected, we can launch the task right away! */
      if (persistent || userfile_checkboxes.is(':checked')) return;


      event.preventDefault();

      /* Remove old launch bars from previous selections */
      $('.launch_bar').remove();

      $('.menu_bar').after(
        $('<div class="launch_bar">')
          .append($('<span class="info">Select some files to launch ' + tool_name + '</span>'))
          .append($('<span class="file_status">No files selected</span>'))
          .append(
            $('<button>Launch</button>')
              .button({ disabled: true })
              .click(function () { launch_form.submit() })
          )
      );
    });

  userfile_checkboxes
    .unbind('change.launch_task')
    .bind('change.launch_task', function () {
      var checked = userfile_checkboxes.filter(':checked').length;

      /* And the launch_bar, if it exists */
      $('.launch_bar span.file_status').text(checked ? "Launch with " + checked + " file(s)" : "No files selected");
      $('.launch_bar button').button(checked ? "enable" : "disable");
    });
});

