<span class="selected_info">
  <% if @persistent_userfile_ids.size > 0 %>
    <%= red_if(true,"(#{pluralize(@persistent_userfile_ids.size," file")} persistently selected)") %>
  <% end %>
</span>
<span class="page_links">
<%= will_paginate @userfiles, :container => false %>
(<%= @userfiles_total %> files)
</span>
