
<h5>
  <%= 
    ajax_link (current_session[:userfiles_details] == 'off' ? "Show Details" : "Hide Details"),
            {:controller  => :userfiles, :action => :index, :userfiles_details => set_toggle(current_session[:userfiles_details])}, 
            :datatype  => 'script'
  %>
</h5>

<% if @userfiles_total > @user_pref_page_length %>
  <h5>
    <%= ajax_link (current_session[:userfiles_pagination] == 'on' ? "Disable Pagination" : "Paginate" ),
                userfiles_path(:userfiles_pagination => set_toggle(session[:userfiles_pagination])),
                :datatype  => 'script'
    %>
  </h5>
<% end %>

<h5>
  <%= ajax_link (current_session[:userfiles_tree_sort] == 'off' ? "Enable Tree View" : "Disable Tree View"), 
                {:controller  => :userfiles, :action => :index, :userfiles_tree_sort => set_toggle(current_session[:userfiles_tree_sort])}, 
                :datatype  => 'script' %>
</h5>

<% if current_user && (check_role(:admin) || check_role(:site_manager)) %>
  <%= ajax_link current_session[:userfiles_view_all] == 'on' ? "Show your files ": "Show all files on the system", 
              userfiles_path(:userfiles_view_all => set_toggle(session[:userfiles_view_all])), 
              :datatype  => 'script'
  %>
<% end %>


