
<% current_user.tags.each do |tag| %> 
  <% tag_name = tag.name %>
    <li>
      <%= link_to_remote crop_text_to(15, tag.name), :url  => {:action  => :index, :userfiles_tag_filter => tag.name },:method  => 'get' %>
      <small>
          <%= link_to 'Edit', edit_tag_path(tag) %>
          <%= link_to 'Delete', tag, :confirm => "Are you sure you want to delete tag '#{tag.name}'?", :method => :delete %> 
      </small>
   </li>
<% end %>

