
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<table class = "tagtable">
    <br><select name="tags[]" multiple="multiple" style="width:200px">
    <%= options_from_collection_for_select @user_tags, 'id', 'name', {:include_blank => true, :selected => nil} %>
    </select>
</table>
