
<h4>By Tag</h4>
<ul class="filter_menu">
   <% current_user.tags.each do |tag| %> 
       <li>
         <% inline_edit_field "tag[name]", { :controller => "tags", :action => "update", :id  => tag.id}, :initial_value  => tag.name, :method  => :put, :trigger  => ".edit_trigger" do %>
           <%= ajax_link crop_text_to(15, tag.name), {:controller  => :userfiles, :action  => :index, :userfiles_tag_filter => tag.name }, :datatype  => 'script' %>
           <small>
               <%= link_to 'Edit', "#", :class  => "edit_trigger" %>
               <%= ajax_link 'Delete', tag, :confirm => "Are you sure you want to delete tag '#{tag.name}'?", :datatype => 'script', :method => :delete %> 
           </small>
         <% end %>
      </li>
   <% end %>
</ul>

<% inline_edit_field("tag[name]", { :controller => "tags", :action => "create" }, :initial_value  => "" ) do %>
  <%= link_to("New Tag", "#", :class  => "action_link") %>
<% end %>
