
<h4>By Tag</h4>
<%= overlay_ajax_link 'Create Tag', new_tag_path %>

<ul class="filter_menu">
  <%  current_user.available_tags.includes(:group).each do |tag| %>

    <li id="tag_<%= tag.id %>" class="tag">
      <%= render :partial => 'tags/tag_li', :locals  => {:tag  => tag} %>
    </li>

  <% end %>
</ul>
