
<h4>By Tag</h4>
<% overlay_content_link 'Create Tag' do %>
  <div id="new_tag">
    <%= render :partial  => "tags/new" %>
  </div>
<% end  %>

<ul class="filter_menu">
  <%  current_user.available_tags(:include => :group).each do |tag| %>

    <li id="tag_<%= tag.id %>" class="tag">
      <%= render :partial => 'tags/tag_li', :locals  => {:tag  => tag} %>
    </li>

  <% end %>
</ul>
