
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<table class = "tagtable">
		<select name="tags[]" multiple="multiple" size="5">
		<%= options_from_collection_for_select @user_tags, 'id', 'name' %>
		</select>
</table>
