<%

#
# CBRAIN Project
#
# $Id$
#

-%>
<% unless @bourreaux.blank? %>
  <br>
  
   <%= select_tag(
    "operation", 
    ' <option value="">Select a Conversion Operation</option>
     <option value="DrmaaMinc2jiv">Convert selected MINC files to JIV</option>
     <option value="DrmaaDcm2mnc">Convert selected DICOM collection to MINC files</option>
      <option value="DrmaaMnc2nii">Convert selected MINC files to NIfTI</option>' 
   ) 
   %>

   <%= render :partial => 'bourreau_select' %>
    <br><br>
    <%= submit_tag("Apply Operation") %>
    <br><br>
    
<% else %>
   <h1>No Bourreaux Available</h1>
<% end %>
<div class="userfiles_option_close">
      <%= 
          link_to_function 'close', :class  => '' do |page|
            page << "new Effect.Morph(current_options, {style: 'background-color: #0471B4; color:#F8F8F8;', duration: 0.2});"
            page << "Element.hide(current_options + '_div');"
            page << "Element.update(current_options + '_div', '');"
            page << "current_options = null;"
          end
       %>
</div>
<br>

