<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<%= select_tag(
 "operation", 
 ' <option value="">Select a Scientific Operation</option>
   <option value="DrmaaCivet">Process selected MINC files through a simple CIVET pipeline</option>
   <option value="DrmaaMincaverage">Average selected MINC files with mincaverage</option>
   <option value="DrmaaMincmath">Mincmath</option>
   <option value="DrmaaMincresample">Launch Mincresample</option>
   <option value="DrmaaCw5filter">Deconvolute selected CW5 files</option>
   <option value="DrmaaCw5">Process selected CW5 collection through an optical pipeline</option>'
) 
%>


<%= submit_tag("Apply Operation") %><br>

