<%

#
# CBRAIN Project
#
# $Id$
#

-%>
<% unless current_user.available_conversion_tools.blank? %>  <br>
  
   <%= select_tag(
     "operation", 
     ' <option value="">Select a Conversion Operation</option>' +
       current_user.available_conversion_tools.inject("") { |options, tool| options += "<option value='#{tool.cbrain_task_class}'>#{tool.select_menu_text}</option>"},
        :onchange  => remote_function(:url  => {:controller  => :tools, :action  => :bourreau_select},
                                      :with  => "'cbrain_task_class='+value",
                                      :method  => :get,
                                      :before => "$('bourreau_select').update('<span style=\\'color:red\\'>Loading...</span>');",
                                      :update => "bourreau_select"
                                      )
    ) 
    %>
   
   <span id="bourreau_select">
   </span>
   <br>
   <br>
   <%= submit_tag("Apply Operation") %>
   <br><br>
    
   <% else %>
    <br>
   <% if current_user.has_role? :admin %>
       <h1 class="warning">No conversion tools available. New tools may be registered from the Tools index.</h1>
   <% else %>
       <h1 class="warning">No conversion tools available. Contact your admin to have them registered.</h1>
   <% end %>
   <br>
<% end %>
<br>


