
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% tool_list = current_user.available_tools.where("tools.category <> 'background'") %>

<% unless tool_list.blank? %>
  
  <% grouped_tools = tool_list.group_by(&:category) %>
  <% grouped_tools = grouped_tools.map{ |cat, tools| [cat.pluralize.titleize, tools.sort { |t1,t2| t1.name <=> t2.name }.map { |t| [t.select_menu_text, t.id] }] }.sort_by(&:first) %>
  
   <div class="userfiles_tool_selector">
    <%= ajax_onchange_select(
          "tool_id", 
          url_for(:controller  => :tools, :action => :bourreau_select), 
          "<option value=\"\">Select an Operation</option>".html_safe + grouped_options_for_select(grouped_tools),
          :target  => "#bourreau_select_convert", 
          :loading_message  => "<span class='warning'>Loading...</span>"
      ) 
    %>
    <%= hijacker_submit_button("Launch Tool",     :url         => url_for(:controller  => :tasks, :action  => :new),
                                                  :method      => :post,
                                                  :class  => "button", 
                                                  :ajax_submit => false) %>
   </div> 
   <div class="userfiles_bourreau_selector" id="bourreau_select_convert">
   </div>
   <br>
    
<% else %>
    <br>
   <% if current_user.has_role? :admin_user %>
       <h1 class="warning">No conversion tools available. New tools may be registered from the Tools index.</h1>
   <% else %>
       <h1 class="warning">No conversion tools available. Contact your admin to have them registered.</h1>
   <% end %>
   <br>
<% end %>

