
<% unless current_user.available_conversion_tools.blank? %>

   <br>
  
    <%= ajax_onchange_select(
       "conversion_operation", 
       url_for(:controller  => :tools, :action  => :bourreau_select), 
       current_user.available_conversion_tools.inject('<option value="">Select a Conversion Operation</option>') { |options, tool| options += "<option value='#{tool.id}'>#{tool.select_menu_text}</option>"},
          :target  => "#bourreau_select", 
          :target_text  => "<span class='warning'>Loading...</span>"
      ) 
    %>
    
   <span id="bourreau_select">
   </span>

   <br>
   <br>
   <%= hijacker_submit_button("Apply Operation", :url         => url_for(:controller  => :tasks, :action  => :new),
                                                 :method      => :post,
                                                 :ajax_submit => false) %>
   <br><br>
    
<% else %>
    <br>
   <% if current_user.has_role? :admin %>
       <h1 class="warning">No conversion tools available. New tools may be registered from the Tools index.</h1>
   <% else %>
       <h1 class="warning">No conversion tools available. Contact your admin to have them registered.</h1>
   <% end %>
   <br>
<% end %>

<br>

