
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
tool_list = current_user.available_tools.where("tools.category <> 'background'")

if tool_list.present?
  grouped_tools = []

  top_tool_ids = current_user.meta[:top_tool_ids] || []
  if !top_tool_ids.empty?
    # Define top 5 tools for current users
    top_5_tool_ids = Hash[current_user.meta[:top_tool_ids].sort_by { |k,v| -v }[0..5]].keys
    top_5_tools    = Tool.where(:id => top_5_tool_ids).map{ |t| [t.select_menu_text, t.id] }

    # Removed the top 5 to the complete list
    tool_list      = tool_list - top_5_tools
  end

  grouped_tools  = tool_list
    .group_by(&:category)
    .map { |cat, tools| [
      cat.pluralize.titleize,
      tools
        .sort { |t1,t2| t1.name <=> t2.name }
        .map  { |t| [t.select_menu_text, t.id] }
    ] }
    .sort_by(&:first)

  grouped_tools.unshift([["Most Used Tools"],top_5_tools]) if top_5_tools
end
%>

<% if grouped_tools.present? %>
   <p class="medium_paragraphs">
   This panel allows you to launch the scientific tasks that have been made available
   to you. First, select the files you want to process in the table below using
   their checkboxes. Then select one of the tasks here. You will be presented
   with a new selection box allowing you to choose which Execution Server
   will process your task.
   </p>

   <p class="medium_paragraphs">
   Each task has its own preferences as to how many files it needs and what type
   they should be. Once the task has validated that you've selected the proper
   files to process, you'll be presented with a form where you can customize
   its scientific parameters.
   </p>

   <div class="userfiles_tool_selector">
    <%= ajax_onchange_select(
          "tool_id",
          url_for(:controller  => :tools, :action => :tool_config_select),
          "<option value=\"\">Select a task to launch</option>".html_safe + grouped_options_for_select(grouped_tools),
          :target  => "#tool_version_selector",
          :loading_message  => "<span class='warning'>Checking availability...</span>"
      )
    %>
   </div>

   <br>

   <div class="userfiles_bourreau_selector" id="tool_version_selector">
   </div>

<% else %>

   <br>
   <% if current_user.has_role? :admin_user %>
       <h1 class="warning">No tools available. New tools may be registered from the Tools index.</h1>
   <% else %>
       <h1 class="warning">No tools available. Contact your admin to have them registered.</h1>
   <% end %>
   <br>

<% end %>
