
<% unless current_user.available_scientific_tools.blank? %>

  <br>
 
  <%= ajax_onchange_select(
     "scientific_operation",
     url_for(:controller  => :tools, :action  => :bourreau_select), 
     current_user.available_scientific_tools.inject('<option value="">Select a Scientific Operation</option>') { |options, tool| options += "<option value='#{tool.cbrain_task_class}'>#{tool.select_menu_text}</option>"},
        :target  => "#bourreau_select2", 
        :update_text  => "<span class='warning'>Loading...</span>"
    ) 
  %>
  
  <span id="bourreau_select2">
  </span>
  
  <br>
  <br>
  <%= submit_tag("Apply Operation", :class  => "ajax_submit_button", 
                                    "data-url"  => url_for({:controller  => :tasks, :action  => :new}),
                                    "data-method"  => :get,
                                    "data-datatype"  => "script") %>
  <br><br>
<% else %>
  <br>
  <% if current_user.has_role? :admin %>
     <h1 class="warning">No scientific tools available. New tools may be registered from the Tools index.</h1>
  <% else %>
     <h1 class="warning">No scientific tools available. Contact your admin to have them registered.</h1>
  <% end %>
  <br>
<% end %>
<br>

