<%

#
# CBRAIN Project
#
# File manager main layout
#
# Original author: Pierre Rioux
#
# $Id: index.html.erb 38 2008-10-31 17:13:03Z prioux $
#

-%>
<% title 'Files' %>

<h1>Welcome. These are your files:</h1>


<table>

<% form_tag userfiles_path, {:method => :get} do %>
<%= hidden_field_tag :search_type, 'name_search' %>
<tr>
   <td colspan="2"><%= text_field_tag :search_term, @search_term %></td>
   <td><%= submit_tag "Search Names" %></td>
<tr/>
<% end %>
</table>


<%= render :partial => 'userfiles', :object  => @userfiles.sort %>


