<%= button_to "Finished", {:action => :index}, :class => "button" %><br><br>

<div class="display_table qc_table">
  <div class="display_cell qc_panel">
    <% ajax_form_tag url_for(:action  => :quality_control_panel), :target => "#qc_left_panel" do %>
      <% ajax_element url_for(:action => :quality_control_panel), :data => {:file_ids => @filelist, :index => -1, :authenticity_token => form_authenticity_token}, :method => :post, :id => "qc_left_panel" do %>
        <span class="loading_message">Loading panel...</span>
      <% end %>
    <% end %>
  </div>
  <% if @filelist.size > 1 %>
    <div class="display_cell qc_panel">
      <% ajax_form_tag url_for(:action  => :quality_control_panel), :target => "#qc_right_panel" do %>
        <% ajax_element url_for(:action => :quality_control_panel), :data => {:file_ids => @filelist, :index => 0, :authenticity_token => form_authenticity_token}, :method => :post, :id => "qc_right_panel" do %>
          <span class="loading_message">Loading panel...</span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
