<%

#
# CBRAIN Project
#
# Revision_info="$Id: new.html.erb 715 2010-01-06 18:20:58Z angela $"
#

-%>


<div id = "new_tool">
    <% remote_form_for :tool, @tool, :url => { :action => "create" } do |f| -%>
      <%= render :partial => 'form_fields', :locals  => {:f  => f} %>
    <p>
      <%= f.submit "Create new tool" %>
    </p>
   <% end %>
</div>
   