
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
# uniq_id needed because there can be several load_info DIVs in the page
uniq_id = rand(100000).to_s
%>
<%
   num_online         = @bourreaux.count { |b| b.online? }
   include_blank_text = num_online == 0 ? "No online server for this tool!" : "Select Server & Version"
   select_attributes  = {
     "class"                => 'request_on_change',
     "data-loading-message" => "&nbsp;",
     "data-target"          => "#load_info_#{uniq_id}",
     "data-url"             => '/bourreaux/load_info',
     "data-optgroup-change" => true,
     :include_blank         => include_blank_text
   }

%>


<div>
  <strong>Server&nbsp;&amp;&nbsp;Version:</strong><br>
  <%= tool_config_select "tool_config_id", { :tool_configs => @tool_configs,
                                             :selector     => @tool_config },
                                             select_attributes %>

  <% if num_online > 0 %>

    <%= submit_tag @button_label + " " + @tool.name,
      "class"       => "button launch_tool",
      "data-url"    => url_for(:controller => :tasks, :action => :new, :tool_id => @tool.id)
    %>
  <% end %>






  <br/>

  <div id="load_info_<%= uniq_id %>">
  <% if @bourreaux.size > 0 && @tool_config %>
    <%= render :partial => 'bourreaux/load_info', :locals => { :bourreau => Bourreau.find(@tool_config.bourreau_id) } %>
  <% end %>
  </div>
  <br/>
</div>

