
<div class="menu_bar menu_bar_left">
  <% if current_user.has_role?(:admin) %>
            
    <% button_with_dropdown_menu({:title => 'Create New Tool', :partial => 'new', :content_id => 'new_tool' }, {:id => "new_tool_button"}) %>
       
    <span title="Registers all subclasses of PortalTask as Tools">
      <%= link_to 'Autoload Tools', { :action  => :create, :autoload  => true}, :method  => :post, :class => " button" %>
    </span>
            
    <%= link_to 'By Server', {:controller => "tools",  :action => "tool_management"}, :class => " button" %>

  <% end %>

  <% button_with_dropdown_menu(:title => "Help") do %>
    <a class = "overlay_link" data-url = "/doc/tool/tool_info.html">Tool Information</a>
  <% end %>     
</div> 

<P>
        
<table class="resource_list" id="tool_table">

  <tr>
    <th>Tool Name</th>
    <th>User</th>
    <th>Group</th>
    <th>Bourreau</th>
    <th>Category</th>
    <th colspan="2">Operations</th>
  </tr>
   
  <% for tool in @tools %>
    <%= render :partial => 'tools/tool_table_row', :locals  => {:tool  => tool} %>
  <% end %>

</table>

<P>

<%= link_to 'Tool Statistics', {:controller => "statistics", :action => "index"}, :class => "action_link" %>

