<%

#
# CBRAIN Project
#
# Login page layout
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<H1>Welcome to the CBRAIN Interface</H1>

<% form_tag '/login/authenticate' do -%>

    <table class="login">
    <tr>
        <th colspan="2">Please log in.</th>
    </tr>
    <tr>
        <th>Username:</th>
        <td><%= text_field_tag 'username' %></td>
    </tr>
    <tr>
        <th>Password:</th>
        <td><%= password_field_tag 'password' %></td>
    </tr>
    <tr>
        <th colspan="2"><%= submit_tag 'Login' %></th>
    </tr>
    </table>

<% end %>

