<%

#
# CBRAIN Project
#
# Login manager welcome layout
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<H1>Welcome to CBRAIN, <%= User.find(session[:user_id]).full_name %></H1>

<P>

Go to <%= link_to "your file manager", :controller => :manager, :action => :index %>

<P>

Launch <%= link_to "JIV", "http://localhost:2000/jiv/options/#{session[:user_id]}" %>

<P>

You can also <%= link_to 'logout', :action => "logout" %>.
