<tr>
  <th>Name</th>
  <th>Description</th>
  <th>Managers</th>
  <th>Number of Users</th>
  <th>Number of Projects</th>
  <th colspan="2">Operations</th>
</tr>

<% for site in @sites %>
  <%= render :partial => 'site_table_row', :locals  => {:site  => site} %>
<% end %>

<% if @sites.empty? %>
  <tr><td colspan="7">There are not sites defined yet.</td></tr>
<% end %>
