<div class="generalcontent">

  <% title 'Sites' %>
  
   <div class="resource_list_upper_form">
         <%= 
           link_to_function 'Create New Site', :class  => 'action_link' do |page|
             page['new_site'].toggle
           end 
           %>
         <div id="new_site" style="display:none">
           <%= render :partial  => 'new' %>
         </div>
   </div> <!-- End class="upper_form" -->

  <table class="resource_list" id="site_table">
    <tr>
      <th>Name</th>
      <th>Managers</th>
      <th>Number of Users</th>
      <th>Number of Groups</th>
      <th colspan="3">Operations</th>
    </tr>

    <% for site in @sites %>
      <%= render :partial => 'site_table_row', :locals  => {:site  => site} %>
    <% end %>
  </table>
  
</div>
