
<% title 'Sites' %>
  
<div class="menu_bar menu_bar_left">
  <% button_with_dropdown_menu({:title => 'Create New Site', :partial => 'new', :content_id => 'new_site' }, {:id => "new_site_button"}) %>
  <%= overlay_ajax_link "Help", "/doc/sites/site_info.html", :class  => "button" %>
</div>

<P>
   
<table class="resource_list" id="site_table">
  <tr>
    <th>Name</th>
    <th>Managers</th>
    <th>Number of Users</th>
    <th>Number of Projects</th>
    <th colspan="2">Operations</th>
  </tr>

  <% for site in @sites %>
    <%= render :partial => 'site_table_row', :locals  => {:site  => site} %>
  <% end %>

  <% if @sites.empty? %>
    <tr><td colspan="6">There are not sites defined yet.</td></tr>
  <% end %>

</table>
  
