
<% title 'Feedback' %>
 
<div class="menu_bar menu_bar_left">
  <% button_with_dropdown_menu('Leave Feedback', :partial => 'new', :content_id => 'new_feedback', :button_id => "new_feedback_button") %>              
  <%= overlay_ajax_link "Help", "/doc/feedback/feedback.html", :class  => "button" %>      
</div>
                 
<% form_tag({:controller => :feedbacks, :action => :delete_feedback}, :method => :delete) do %>

   <table id="feedback_table" class="resource_list">
      <tr>
         <th>Summary</th>
         <th>Author</th>
         <th>Posted at</th>
         <th colspan="2">Operations</th>
      </tr>
      <% for feedback in @feedbacks %>
        <%= render :partial => 'feedback_table_row', :locals  => {:feedback  => feedback} %>
      <% end %>
   </table>

<% end %>

