
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<P>

<div class="alone_per_line">
  <%= show_hide_toggle "Show configuration notes", "#notesbody", :class  => 'action_link', :alternate_text => "Hide configuration notes" %>
  <P>
</div>

<div id="notesbody" class="notesbox" style="display:none">

    <h3>Some Notes About Configuring A Execution Server</h3>

    An Execution Server is a remote Rails application that is used by the
    BrainPortal. Like all Rails applications, it runs on some host
    somewhere, it listens to HTTP connections on some port and needs
    to connect to the same database server as the BrainPortal.

    <p>

    Unlike the BrainPortal, the HTTP connections it expects are not
    from a user's browser, but they are XML requests issued by the
    BrainPortal using a Rails protocol called ActiveResource. There
    are several ways that the BrainPortal can be told how to connect to
    and manage the Execution Server, which explains all the fields in this form.

</div>

