
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<div class = "generalcontent">

  <% title 'Execution Servers' %>

  <% if check_role(:admin) || check_role(:site_manager)%>
      <div class="resource_list_upper_form">
            <%= 
              link_to_function 'Create New Execution Server', :class  => 'action_link' do |page|
                page['new_bourreau'].toggle
              end 
              %>
            <div id="new_bourreau" style="display:none">
              <%= render :partial  => 'new' %>
            </div>
      </div> <!-- End class="upper_form" -->
   <% end %>
   <br>
  <table class="resource_list" id="bourreau_table">
     <tr>
         <th>Server Class</th>
         <th>Server Name</th>
         <th>Owner</th>
         <th>Group</th>
         <th>Site</th>
         <th>Online?</th>
         <th>Alive?</th>
         <th>Workers?</th>
         <th>Load</th>
         <th>Description</th>
         <th colspan="4">Operations</th>
     </tr>
  
     <% for bour in @bourreaux %>
         <%= render :partial => 'bourreau_table_row', :locals  => {:bour  => bour} %>
     <% end %>
  
  </table>
</div>  <!-- End class="generalcontent" -->
