
  <% title 'Execution Servers' %>

  <div class="menu_bar menu_bar_left">
    <% if check_role(:admin) || check_role(:site_manager)%>
      <% button_with_dropdown_menu({:title => 'Create New Server', :partial => 'new', :content_id => "new_bourreau" }, {:id => "new_bourreau_button"}) %>
      <%= link_to "Refresh SSH Public Keys", {:action  => :refresh_ssh_keys }, { :method  => :post, :class  => "button" } %>
    <% end %>
    <% button_with_dropdown_menu(:title => "Help") do %>
       <a class="overlay_link" data-url ="/doc/server/view_server.html">Execution Servers</a>
    <% end %>     
  </div>
  
  <P>

  <%= show_hide_toggle "Show Details", ".resource_details", :alternate_text  => "Hide Details", :class  => "action_link" %>

  <P>
    
  <% ajax_element({:element  => "table", :url => url_for(:action => :index, :table_contents => true)}, {:class  => "resource_list", :id  => "bourreau_table"}) do %>
    <tr><td class="loading_message">Loading...</td></tr>
  <% end %>

