<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<h2>Statistics</h2>

<div class = "generalcontent">

<h3>User Statistics</h3>

<table class="resource_list" id="stat_table">
  <tr>
    <th>Task</th>
	<th>Number of times used</th>
	<th>Percent Used</th>
  </tr>
	<% if @task_names != nil %>
	<% for task in @task_names %>
		<tr>
			<td><%=h task %></td>
			<td><%=h stats = (Statistic.user_task_stats(task, current_user.id)) %></td>
			<td><%=h (((stats.to_f*100)/(Statistic.total_task_user(current_user.id)).to_f).round(2)) %>%</tr> 
		</tr>
	<% end %>
	<% end %>

</table>
<br />

<h3>Bourreau Statistics</h3>

<table class="stat_list" id="stat_table">
	<tr>
		<tr>
			<th>Bourreau</th>
		</tr>
		<% for bourreau in @bourreaux %>
		<tr>
			<td><%= link_to bourreau.name, statistic_path(bourreau) %></td>
		</tr>
		<% end %>
	</tr>
</table>
        








