
<%
# This partial receives a single local variable,
# tb, a ShowTableHelper::TableBuilder object
%>

<div class="inline_edit_field_group">

  <% if tb.editable? && ! tb.form_helper %>
    <%= form_for(tb.object,
          :url => tb.url,
          :method => tb.method,
          :as => tb.as,
          :html => { :id => "edit_#{tb.as}_#{tb.header}".gsub(/\W+/,"_") },
        ) do |f| %>
      <% tb.form_helper = f %>
      <% tb.invoke_block %>
      <%= render :partial => 'shared/show_table_content', :locals => { :tb => tb, :f => f } %>
    <% end %>
  <% elsif tb.editable? && tb.form_helper %>
      <% tb.invoke_block %>
      <%= render :partial => 'shared/show_table_content', :locals => { :tb => tb, :f => tb.form_helper } %>
  <% else %>
      <% tb.invoke_block %>
      <%= render :partial => 'shared/show_table_content', :locals => { :tb => tb, :f => nil } %>
  <% end %>

</div>

