
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
   # This partial renders a multiselect of users logins with checkboxes
   # Partial locals:
   #
   #   normal_users  => [ user, user, ... ]
   #   locked_users  => [ user, user, ... ]
   #   checked       => [ user, user, ... ]
   #   variable_name => "somemodel[user_ids][]"  # for instance; must end with '[]'
   #   html_class    => "someclass"               # for checkboxes
   checked      ||= []
   normal_users ||= []
   locked_users ||= []
 %>

<div class="panel panel-primary">
  <div class="panel-heading">Users</div>
  <div class="panel-body">
    <select multiple='multiple' name="<%= variable_name %>" class="users-select">
      <optgroup label="Normal Users">
        <%= options_for_select(normal_users.map{|user| [user.name, user.id] }, checked.map(&:id) ) %>
      </optgroup>
      <% if locked_users.present? %>
        <optgroup label="Locked Users">
          <%= options_for_select(locked_users.map{|user| [user.name, user.id] }, checked.map(&:id) ) %>
        </optgroup>
      <% end %>
    </select>
  </div>
</div>


