
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="row menu-bar">
  <div class="col-xs-12">
    <div class="well well-sm">
      <a href="<%= new_access_profile_path %>" class="btn btn-primary"><span class="glyphicon glyphicon-file"></span> Create Access Profile</a>
      <a href="#" class="btn btn-primary help-btn" data-toggle="modal" data-target="#help-modal" data-url="/doc/access_profiles/access_profiles.html"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="text-center">(<%= pluralize @access_profiles.count, "access profile" %>)</div>

      <%=
        dynamic_scoped_table(@access_profiles,
          :id    => 'access_profiles_table',
          :class => [ "table-responsive" ],
          :scope => @scope
        ) do |t|
      %>
        <%
          t.column("Name", :name,
            :sortable => true,
          ) { |s| access_profile_label(s, :with_link => true) }

          t.column("Color", :color,
            :sortable => true,
          ) { |s| s.color.presence || "white" }


          t.column("Description", :description,
            :sortable => true,
          ) { |s| overlay_description(s.description) }

          t.column("Projects", :projects) do |s|
            (s.groups.sort_by(&:name).map { |g| link_to_group_if_accessible(g) }.join(", ").html_safe.presence) || "(None)"
          end

          t.column("Users", :users) do |s|
            (s.users.sort_by(&:login).map { |u| link_to_user_if_accessible(u) }.join(", ").html_safe.presence) || "(None)"
          end
        %>
      <% end %>
  </div>
</div>
