
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>


<div class="btn-group">
  <a href="javascript:;" class="btn btn-primary dropdown-toggle mega-dropdown" role="dropdown" aria-haspopup="true" aria-expanded="false">Delete Files<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <div class="container-fluid">
      <li>
        This panel allows you to <strong>delete permanently</strong> files that
        are present on the remote Data Provider. Note that this operation will
        work whether or not the files are registered. If they are registered,
        the will be unregistered first.
      </li>
      <li class="divider" role="separator"></li>
      <li>
        <%= hijacker_submit_button(
          "Delete the files",
          :name     => :register,
          :url      => url_for(:action => :delete),
          :method   => :post,
          :datatype => :script,
          :class    => "btn btn-primary btn-block mega-dropdown-closer"
        ) %>
      </li>
    </div>
  </ul>
</div>





