
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<%= index_table data_providers, :class => "resource_list whole_width", :id => "data_provider_table_#{id}" do |t| %>
  <% 
    t.sort_column("Provider Name", DataProvider, :name) { |dp| link_to_data_provider_if_accessible(dp, current_user, :html_options => { :class => dp.online? ? nil : 'error_link' }) }

    if @filter_params["details"] == 'on'
      t.sort_column("Type", DataProvider, :type, :filters => basic_filters_for(@header_scope, :data_provider, :type) { |v| v.to_s } ) { |dp| dp.class.to_s } if current_user.has_role? :admin_user
    end 

    if @filter_params["details"] == 'on'
      t.sort_column("Owner", User, :login, :filters => association_filters_for(@header_scope, :data_provider, :user, :name_method => :login)) { |dp| link_to_user_with_tooltip(dp.user) }
    end 

    t.sort_column("Project", Group, :name, :filters => association_filters_for(@header_scope, :data_provider, :group)) { |dp| link_to_group_if_accessible(dp.group) }
    if @filter_params["details"] == 'on'
      t.column("Site") { |dp| link_to_site_if_accessible(dp.site) }
      t.sort_column("Time Zone", DataProvider, :time_zone) { |dp| dp.time_zone || "(Unset)" }
    end

    t.sort_column("Online?", DataProvider, :online) { |dp| red_if(!dp.online?, "Yes", "No") }
  %>
  <% t.column("Alive?") do |dp| %>
    <% if dp.online? %>
      <%= staggered_loading "span", url_for(:action  => :is_alive, :id  => dp.id), :error_message  => "<span class=\"warning\">???</span>" do %>
        <span class="loading_message">Checking...</span>
      <% end %>
    <% else %>
      <%= html_colorize("No","red") %>
    <% end %>
  <% end %>
  <% 
    t.column("Files") do |dp|
      file_count = Userfile.find_all_accessible_by_user(current_user, :conditions => { :data_provider_id => dp.id }).count
      if file_count > 0
        index_count_filter file_count, :userfiles, { :data_provider_id => dp.id }
      else
        "0"
      end
    end

    t.sort_column("Mode", DataProvider, :read_only) { |dp| dp.read_only ? "Read Only" : "Read/Write" }

    if @filter_params["details"] == 'on'
      t.sort_column("Syncability", DataProvider, "not_syncable") { |dp| dp.not_syncable ? "NOT syncable" : "Fully syncable" }
      t.sort_column("Description", DataProvider, "description") { |dp|  overlay_description(dp.description) }
    end

    t.column("Operations") do |dp|
      if dp.is_browsable? && dp.can_be_accessed_by?(current_user) && dp.online?
        link_to 'Browse', browse_data_provider_path(dp), :class => 'action_link'
      end
    end
    
  %>
<% end %>

