
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="btn-group">
  <a href="javascript:;" class="btn btn-primary dropdown-toggle mega-dropdown" role="dropdown" aria-haspopup="true" aria-expanded="false">Unregister Files<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <div class="container-fluid">
      <li>
        This panel allows you to <strong>unregister</strong> files that are present on
        the remote Data Provider and have already been registered by
        the CBRAIN interface.
      </li>
      <li class="divider" role="separator"></li>
      <li>
        Once unregistered, a file will be no longer
        be visible in the <strong>Files</strong> manager, but will still be left
        on the disk at the remote site. It will be your responsability
        to delete the data manually if you have an external access
        to the remote files, or you can use the <strong>Delete Files</strong>
        panel, further right.
      </li>
      <li class="divider" role="separator"></li>
      <li>
        <%= hijacker_submit_button(
          "Unregister the files!",
          :name     => :register,
          :url      => url_for(:action => :unregister),
          :method   => :post,
          :datatype => :script,
          :class    => "btn btn-primary btn-block"
        ) %>
      </li>
    </div>
  </ul>
</div>
