
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>

<div class = "generalcontent">

   <% title 'Browse Data Provider' %>

   <h2>Files Available On Data Provider '<%= @provider.name %>'</h2>

      <% form_tag(url_for(:controller => 'data_providers', :id => @provider.id, :action => 'register'), :method => :post) do %>
      
        <table class="resource_list" id="browse_table">
          <%= render :partial => 'dp_browse_table' %>
        </table>

        <%= submit_tag 'Register files' %>
        <%= submit_tag 'Unregister files' %>

      <% end %>
</div>  <!-- End class="generalcontent" -->
