
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title "DataProvider Access" %>

<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">Data Provider User Access Report</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col-xs-12">
    <% if @providers.empty? || @users.empty? %>

    There is no information to show at this time.

    <% else %>

    <span class="display_cell">
      <table class="table table-striped table-responsive table-condensed">

        <tr>
          <th class="blank"></th>
          <% @providers.each do |dp| %>
            <th><%= link_to_data_provider_if_accessible(dp, current_user) %></th>
          <% end %>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td><%= link_to_user_with_tooltip(user) %></td>

            <%
            accessible_dp = DataProvider.find_all_accessible_by_user(user).all.index_by &:id || {}
            %>

            <% @providers.each do |dp| %>
              <td><%= accessible_dp[dp.id] ? o_icon : times_icon %></td>
            <% end %>
          </tr>
        <% end %>

      </table>

      <%= center_legend(nil, [ [o_icon, "accessible"], [times_icon, "not accessible"] ] ) %>

    </span>

    <% end %>
  </div>
</div>
