
<!-- *********************************** -->
<!-- Disk access summary -->
<!-- For Data Providers -->
<!-- *********************************** -->

<% title "DataProvider Access" %>

<h2>Data Provider Access Report</h2>

<% if @providers.empty? || @users.empty? %>

There is no information to show at this time.

<% else %>

<span class="display_cell">
  <table>
    
    <tr>
      <th></th>
      <% @providers.each do |dp| %>
        <th><%= link_to_data_provider_if_accessible(dp, current_user, :html_options => {:class => "header_link"}) %></th>
      <% end %>
    </tr>
      
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to_user_with_tooltip(user) %></td>
            
        <% 
        accessible_dp = DataProvider.find_all_accessible_by_user(user).all.index_by &:id || {}
        %>
        
        <% @providers.each do |dp| %>
          <td><%= accessible_dp[dp.id] ? o_icon : times_icon %></td>
        <% end %>
      </tr>
    <% end %>
  
  </table>
  
  <%= center_legend(nil, [o_icon,"accessible"], [times_icon,"not accessible"] )%>
  
</span>

<% end %>
