
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Service Stats' %>

  <h1>CBRAIN Web Service Stats</h1>

  <div class="generalbox">
    <table>
      <!-- header -->
      <tr>
        <th colspan="2" class="supertitle">Totals by client type</th>
      </tr>
      <tr>
        <th>Client Type</th>
        <th>Requests</th>
      </tr>
      <!-- each row -->
      <% @summary_stats.keys.sort.each do |client| %>
        <% counts = @summary_stats[client] %>
        <% next unless counts.is_a?(Array) && counts.size == 2 %>
        <tr>
          <td><%= client %></td>
          <td><%= counts[0] + counts[1] %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <p>

  <strong>Counters last reset:</strong> <%= @last_reset %>

  <p>

  For a more detailed report, see the <%= link_to "Detailed Service Stats", :action => :detailed_stats %> page.
