
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<h4>By Custom Filter</h4>

<%= overlay_ajax_link 'Create Custom Filter', {:controller => :custom_filters, :action => :new, :filter_class => @custom_filter.class.name} %>

<ul class="filter_menu">
  <%  @custom_filter.class.where(:user_id  => current_user.id).each do |filter| %>

    <li id="custom_filter_<%= filter.id %>" class="custom_filter">
      <%= render :partial => 'custom_filters/custom_filter_li', :locals  => {:filter  => filter} %>
    </li>

  <% end %>
</ul>
