<h4>By Custom Filter</h4>

<%= overlay_ajax_link 'Create Custom Filter', {:controller => :custom_filters, :action => :new, :filter_class => @custom_filter.class.name} %>

<ul class="filter_menu">
  <%  @custom_filter.class.all(:conditions  =>  {:user_id  => current_user.id}).each do |filter| %>

    <li id="custom_filter_<%= filter.id %>" class="custom_filter">
      <%= render :partial => 'custom_filters/custom_filter_li', :locals  => {:filter  => filter} %>
    </li>

  <% end %>
</ul>
