
<div class="generalbox">

   <h2>Edit Custom Filter</h2>

   <% form_for :custom_filter, @custom_filter, :url => { :action => "update"}, :html  => {:method  => :put} do |f| %>
     <%= f.error_messages %>
       <p>
         <strong>Filter name:</strong><br>
         <%= f.text_field :name %>
       </p>
 
       <%= render :partial => "#{@custom_filter.class}".underscore %>

     <p>

     <%= f.submit "Update" %>
   <% end %>

</div> <!-- End class="generalbox" -->

