
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>

<div class = "generalcontent">

   <% title 'Projects' %>
  
   <div class = 'help_button_drop_down'>
              <% button_with_dropdown_menu(:title => "Help") do %>
                   <a class = "overlay_link" data-url ="/doc/groups/groups_info.html">Group Info</a>                            
               <% end %>     
   </div>
  
   <div class="menu_bar">
          <% button_with_dropdown_menu({:title => 'Create Project', :partial => 'new'}, {:id => "new_group_button"}) %>
   </div>

   <%= link_to "Remove Active Project", {:controller=>"groups", :action=>"switch", :id  => "off"}, :method  => :post, :class  => :action_link %>

      <table class="resource_list" id="group_table">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Members</th>
          <th>Site</th>
          <th colspan="3"/>
        </tr>
         <% for group in @system_groups %>
           <%= render :partial => 'group_table_row', :locals  => {:group  => group} %>
         <% end %>
         <% for group in @work_groups %>
           <%= render :partial => 'group_table_row', :locals  => {:group  => group} %>
         <% end %>
      </table>
</div>