
<% title 'Projects' %>
  
<div class="menu_bar menu_bar_left">
   <% button_with_dropdown_menu('Create Project', :partial => 'new', :content_id => 'new_group', :button_id => "new_group_button") %>
   <%= link_to "Remove Active Project", {:controller=>"groups", :action=>"switch", :id  => "off"}, :method  => :post, :class  => :button %>
   <%= overlay_ajax_link "Help", "/doc/groups/groups_info.html", :class  => "button" %>       
</div>

<p>

<table id="work_project_table" class="resource_list">

  <tr><th colspan="6">Work Projects</th></tr>
  <tr>
    <th class="subtitle">Name</th>
    <th class="subtitle">Site</th>
    <th class="subtitle" colspan="3"/>
  </tr>

  <% for group in @work_groups %>
    <%= render :partial => 'group_table_row', :locals  => {:group  => group} %>
  <% end %>
</table>

<p>

<table id="system_project_table" class="resource_list">
  <tr><th colspan="6">System Projects</th></tr>
  <tr>
    <th class="subtitle">Name</th>
    <th class="subtitle">Type</th>
    <th class="subtitle">Site</th>
    <th class="subtitle" colspan="3"/>
  </tr>

  <% for group in @system_groups %>
    <%= render :partial => 'group_table_row', :locals  => {:group  => group} %>
  <% end %>

</table>

