
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>

<div class = "generalcontent">

   <% title 'Groups' %>
  
   <div class="resource_list_upper_form">
         <%= 
           link_to_function 'Create New Group', :class  => 'action_link' do |page|
             page['new_group'].toggle
           end 
           %>
         <div id="new_group" style="display:none">
           <%= render :partial  => 'new' %>
         </div>
   </div> <!-- End class="upper_form" -->


      <table class="resource_list" id="group_table">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Members</th>
          <th>Site</th>
          <th colspan="3"/>
        </tr>
         <% for group in @system_groups %>
             
           <%= render :partial => 'group_table_row', :locals  => {:group  => group} %>
         <% end %>
         <% for group in @work_groups %>
           <%= render :partial => 'group_table_row', :locals  => {:group  => group} %>
         <% end %>
      </table>
</div>