
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2022
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Mandatory Identity provider Link' %>

<h2>Before you can continue, your CBRAIN account <em>must</em> be linked to an identity provider.</h2>

<h5>Explanations</h5>

<p class="short_paragraphs">
When you click on the button below, your browser will be redirected
to an identity provider login page; from there you can choose one of the
supported identity providers. This will in turn redirect you
to the provider's own login page. Once you've successfully authenticated
there, your browser will be redirected back here to finalize
the link with your CBRAIN account.
</p>

<h5>The identity providers that are allowed for your account are:</h5>

<ul>
  <% @allowed_prov_names.each do |provname| %>
    <% provname = '(Any identity provider)' if provname == '*' %>
    <li><%= provname %></li>
  <% end %>
</ul>


<% if @oidc_configs.empty? %>
  <p class="short_paragraphs">
  No identity provider is currently available for your account.
  Please contact the CBRAIN administrator for more information.
  </p>
<% end %>

<% @oidc_configs.each do |oidc| %>
  <%= link_to "Login with #{oidc.name}", @oidc_uris[oidc.name], :class => 'button globus_button' %></br></br>
<% end %>

<% if !@oidc_configs.empty? %>
<p class="short_paragraphs">
  If you already are logged in using a different identity provider, you
  might want to log out first. This can be accomplished by the button below:
<p>
<% end %>

<% @oidc_configs.each do |oidc| %>
  <%= link_to "Logout from #{oidc.name}", oidc.logout_uri, :class => 'button globus_button' %></br></br>
<% end %>

