
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2022
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Mandatory Globus Link' %>

<h2>Before you can continue, your CBRAIN account <em>must</em> be linked to a Globus identity provider.</h2>

<h5>Explanations</h5>

<p class="short_paragraphs">
When you click on the button below, your browser will be redirected
to a Globus login page; from there you can choose one of the
globus-support identity providers. This will in turn redirect you
to the provider's own login page. Once you've successfully authenticated
there, your browser will be redirected back here to finalize
the link with your CBRAIN account.
</p>

<h5>The identity providers that are allowed for your account are:</h5>

<ul>
  <% @allowed_provs.each do |provname| %>
    <% provname = '(Any Globus identity provider)' if provname == '*' %>
    <li><%= provname %></li>
  <% end %>
</ul>

<%= link_to 'Link your CBRAIN account to Globus', @globus_uri, :class => 'button globus_button' %>

<p class="short_paragraphs">
If you already are logged in on Globus using a different identity provider, your
might want to log out first. This can be accomplished by the button below:
<p>
<%= link_to 'Logout from all Globus identities', @globus_logout, :class => 'button globus_button' %>
