
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>

<div class = "generalcontent">
  
   <% title 'Login' %>

      <% form_tag session_path do -%>

         <table class = "logintable">
           <tr>
                 <label for="login"><td>Login</td></label>
             <td class= "field"><%= text_field_tag 'login' %></td>
           </tr>
           <tr>  
             <label for="password"><td>Password</td></label>
             <td class= "field"><%= password_field_tag 'password' %></td>
           </tr>
           <tr>
            <td/><td class="field"><br><%= submit_tag 'Log in' %></td></td>
           </tr>
         </table>
         <br>

         <!-- Uncomment this if you want this functionality
         <p><label for="remember_me">Remember me:</label>
         <%= check_box_tag 'remember_me' %></p>
         -->
      <% end -%>
</div>   <!-- End class="generalcontent" -->
